{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}
      <div class="row">
        <div class="col-md-10  create-pg"> 
            <div class="create_project_sec scroll-line">
            {% include "header.html" %}
          <div class="card create-project">
            <div class="col-12">
    
            </div>
        <!-- </div> -->
        </div>
        {% include "footer.html" %}
        </div>
        </div>
        <div class="col-md-2">
          {% include "userheader.html" %}
        </div>
      </div>

   
    
      

{% endblock %}

