{% load crispy_forms_tags %}          
{% load static %}

  <!DOCTYPE html>
  {% load static %}
  
  <html class="loading" lang="en" data-textdirection="ltr">
  <!-- BEGIN: Head-->
  
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <title>Forgot Password - Hydraulics</title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
  
      <!-- BEGIN: Vendor CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'vendors/css/vendors.min.css' %}">
      <!-- END: Vendor CSS-->
  
      <!-- BEGIN: Theme CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-extended.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/components.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/dark-layout.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/semi-dark-layout.css' %}">
  
      <!-- BEGIN: Page CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'css/core/menu/menu-types/vertical-menu.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/core/colors/palette-gradient.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/pages/authentication.css' %}">
      <!-- END: Page CSS-->
      <!-- END: Page CSS-->
  
      <!-- BEGIN: Custom CSS-->
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
      <!-- END: Custom CSS-->
  
  </head>
  <!-- END: Head-->
  
  <!-- BEGIN: Body-->
  
  <body class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  menu-collapsed blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
      <!-- BEGIN: Content-->
      <div class="app-content content">
          <div class="content-overlay"></div>
          <div class="header-navbar-shadow"></div>
          <div class="content-wrapper">
              <div class="content-header row">
              </div>
              <div class="content-body">
                  <section class="row flexbox-container">
                      <div class="col-xl-7 col-md-9 col-10 d-flex justify-content-center px-0">
                          <div class="card bg-authentication forget-pass rounded-0 mb-0">
                              <div class="row m-0">
                                  <!-- <div class="col-lg-6 d-lg-block d-none text-center align-self-center">
                                     Hydraulics
                                  </div> -->
                                  <div class="col-lg-12 col-12 p-0">
                                      <div class="card rounded-0 mb-0 px-2 py-1">
                                        <div class="login-logo header-logo">
                                            <img class="log-img-login" src="{% static 'images/logo.png' %}">
                                            </div> 
                                          <div class="card-header Recover-pass pb-1">
                                              <div class="card-title">
                                                  <h4 class="mb-0 card-title your-password">Create your password</h4>
                                              </div>
                                          </div>
                                          <!-- <p class="px-2 mb-0 how-reset">Please enter your email address and we'll send you instructions on how to reset your password.</p> -->
                                          <div class="card-content">
                                              <div class="card-body">
                                                  <form method="POST" name="create_password" id="create_password">
                                                      {% csrf_token %}
  
  
                                                      <div class="form-label-group">
                                                          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email">
                                                          <label for="inputEmail"></label>
                                                      </div>
                                                      <div class="form-label-group">
                                                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
                                                        <label for="inputPassword"></label>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <input type="password" id="inputConfirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password">
                                                        <label for="inputConfirmpassword"></label>
                                                    </div>
                                                  <!-- <div class="float-md-left d-block mb-1 pt-1">
                                                      <a href="{% url 'custom_auth:login' %}" class="btn btn-outline-primary btn-block px-75">Back to Login</a>
                                                  </div>-->
                                                  <div class="float-md d-block mb-1 pt-1">
                                                      <button type="submit" class="btn btn-primary btn-block px-75 detail-button">Submit</button> 
                                                  </div>
                                              </form>
  
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
              </div>
              </section>
  
          </div>
      </div>
      </div>
      <!-- END: Content-->
  
  
      <!-- BEGIN: Vendor JS-->
      <script src="{% static 'vendors/js/vendors.min.js' %}"></script>
      <!-- BEGIN Vendor JS-->
  
      <!-- BEGIN: Page Vendor JS-->
      <!-- END: Page Vendor JS-->
  
      <!-- BEGIN: Theme JS-->
      <script src="{% static 'js/allvalidation.js' %}"></script>
        <script src="{% static 'vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
      <script src="{% static 'js/core/app-menu.js' %}"></script>
      <script src="{% static 'js/core/app.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
  
      <script src="{% static 'js/scripts/components.js' %}"></script>
      <script>
$("form[name='create_password']").validate({
  // Specify validation rules
  rules: {
    email: {
      email: true,
      required: true,
      remote:{
                  url: '../usermailexists',
                  type: "get",
                  data:
                  {
                      email: function()
                      {
                          return $('#email').val();
                          
                      },      
                      id: function()
                      {
                          return $('#id').val();
                      }
                  },
                 
                }
    },
    
    password: {
          required: true,
          // password_regex: true,
          // minlength: 8,

    },
    confirmpassword : {
      required: function(){
        return $("#id").val()==""?true:false;
  },
  minlength : 5,
        equalTo : "#password"
    },
    group: "required",

  },

  messages: {
    
    password: {
      required: "Please provide a password",
      // minlength: "Your password must be at least 8 characters long",
      // password_regex: "Password should have minimum 8 letters consisting atleast one from A-Z, a-z, 0-9 and special characters",
    },
    confirmpassword: {
        required: "Please provide a password",
        minlength: "Your password must be at least 8 characters long",
        equalTo: "Your passwords doesnot match",
        
      },
    // email: "Please enter a valid email address",
    email:{
      required: "Please provide a email",
      email: "Please provide a valid email",
      remote: jQuery.validator.format("{0} is already taken."),
      
    },
    
    
  },
  submitHandler: function(form) {
    form.submit();
  }
});
      </script>
      <!-- END: Theme JS-->
  
      <!-- BEGIN: Page JS-->
      <!-- END: Page JS-->
  
  </body>
  <!-- END: Body-->
  <style>
      body {
     background-image: url("{% static 'images/iwells-map.jpg' %}");
     background-size: cover;
     background-position: center;
  }   
     </style>
  </html>