{% extends "base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% load app_filters %}
<section id="data-list-view" class="data-list-view-header">
  <div class="container-fluid">
  <div class="row align-items-start common-row-space">
    {% getcountries countries as countries %}
    {% include 'projectsidemenu.html' %} 
  <div class="col-md-12 p-0  create-pg main-section col-md-10"> 
    <div class="create_project_sec scroll-line new-cru-well">
      {% comment %} <div class="well-name-list">{{well.name}}</div>
      <button class="hide-show fa fa-long-arrow-right"></button> {% endcomment %}
      {% include "projectheader.html" %}
      <div class="row">
        <div class="col-md-9">
          <div class="col-12">
            {% include "welldetails_menu.html" %} 
        </div>
        <div class="col-12">
            <div class="sample-sub-menu">
              <div class="container">
              <div class="row menu-button menu-types">
                <!-- <div class="col-md-2"></div> -->
                <div class="col-md-3">
                    <div class="sub-list {% if request.session.submenu == 'muddata' %}active{% endif %}">
                        <a href="{% url 'muddata:muddatarheogramlist' wellphase_id %}" id="mud"> Mud Data </a>
                    </div>
                </div>
                <!-- <div class="col-md-3">
                    <div class="sub-list {% if request.session.submenu == 'rheogram' %}active{% endif %}">
                        <a href="{% url 'muddata:rheogramlist' wellphase_id %}" id="Rheogram">Rheogram</a>
                    </div>
                </div> -->
                <div class="col-md-3 data-drill">
                    <div class="sub-list drill-data {% if request.session.submenu == 'drillbit' %}active{% endif %}">
                        <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sub-list {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                        <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                    </div>
                </div>
                <div class="col-md-3 data-drill">
                  <div class="sub-list drill-data2  {% if request.session.submenu == 'hydraulics' %}active{% endif %}">
                  <a href="{% url 'muddata:calculateallpressureloss' wellphase_id %}" id="bhadata"> Hydraulics</a>
                </div>
              </div>
                
              </div>
              </div>
            </div>
        </div>
 

        </div>

        <div class="col-md-3">
          <div class="">
            {% comment %} {% include "userheader.html" %} {% endcomment %}
            <h4 class="model-caption">Well Phases</h4>
            {% for wellphase in wellphases %}
            <div class="row">
              <div class="col-12">
                <nav class="navbar bg-white phase-sidemenu">
                  <ul class="nav navbar-nav">
                    <li class="nav-item phs-list {% if request.session.wellphasetab == wellphase.id %}active{% endif %}">
                      <a class="nav-link" href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
                      <ul class="myDIV nav navbar-nav custom_active_list pressure-sidemenu  {% if wellphase_id == wellphase.id %}show{% endif %}">
                        {% getsectionbywellphase_id wellphase.id as sections %}
                        {% for section in sections %}
                        <li data-id="{{section.section_name}}" wellphase_id="{{wellphase.id}}" class="wellphase_sidemenu remove-line">{{section.section_name | depthunit:request.session.unit}}</li>
                        {% endfor %}
                    </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            {% endfor %}
            <div class="col-md-12 warning"></div>
          </div>  
        </div>

      </div>
    
    


     <!-- <div class="col-2">
      {% for wellphase in wellphases %}
        <div class="row">
          <div class="col-12">
            <a href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
          </div>
        </div>
      {% endfor %}
    </div> -->
    
      
      <div class="col-9">
        
        <div class="card">
        <div class="card-header">
        <h4 class="card-title">Create Drill Bit Data </h4>
        </div>
        <div class="card-body">
        <form class="form form-horizontal" method="POST" id="drillbitform">
            {% csrf_token %}
            <input type="hidden" id="well" class="form-control" name="well" value={{well_id}}>
            <input type="hidden" id="project_unit" class="form-control" name="unit" value={{unit}}>
            <div class="row">
                <input type="hidden" name="well_phases" id="well_phases" value="{{wellphase_id}}"> 

                {%if welltype == 'ACTUAL' %}
                <div class="col-12">
                    <div class="form-group row">
                      <div class="col-sm-3 col-form-label">
                        <label class="project-edit-name" for="date">Data</label>
                      </div>
                      <div class="col-sm-9">
                        <input type="text" id="basicDate" class="form-control flatpickr-basic flatpickr-input active drillbitdata_date" name="date" placeholder="Date">
                    </div>
                    </div>
                  </div>
                  {%endif%}
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-sm-3 col-form-label">
                            <label class="project-edit-name" bit_type="rating">Bit type</label>
                          </div>
                        <div class="col-sm-9">
                            <select class="form-control" id="bit_type" name="bit_type">
                            <option value="">-- Bit Type --</option>
                            {% for obj in bit_types %}
                            <option value="{{obj.id}}">{{obj.bittype_names}}</option>
                            {% endfor %}
                            </select>
                            <span class="bittype_error"></span>
                        </div>
                    </div>
                </div> 
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label class="project-edit-name" for="well_phases">Manufacturer</label>
                    </div>
                    
                    <div class="col-sm-9">
                      <input type="text" id="manufacture" class="form-control" name="manufacture" placeholder="Manufacturer">
                      <span class="manufacture_error"></span>
                    </div>
                </div>
              </div>
                <div class="col-12">
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label class="project-edit-name" for="well_phases">Enter Total Number of Nozzles</label>
                    </div>
                    
                    <div class="col-sm-9">
                      <input type="number" id="no_of_nozzle" class="form-control" name="no_of_nozzle" placeholder="Enter Total Number of Nozzles">
                      <span class="nozzle_error"></span>
                    </div>
                </div>
                <!-- <div class="col-sm-9"> -->
                  <div class="form-group row">
                    <div class="col-sm-3 col-form-label">
                      <label class="project-edit-name" for="well_phases">Extended Nozzle</label>
                    </div>
                    <!-- <div class="col-sm-3"> -->
                      <input type="checkbox" id="external_nozzle" name="external_nozzle" value="1" style="margin-top: 14px; margin: 15px;">
                      <span class="external_nozzle_error"></span>
                      <!-- </div> -->
                  </div>
                
              </div>

                <div class="col-12">
                  <div class="card-header">
                    <h4 class="card-title nozzle">Nozzle Configurations</h4>
                    </div>
                    
                    <table class="table table-borderless" id="nozzlestable">
                      <tbody>
                    <tr id='header'><th>Nozzle Size  {% display_nozzle_size_unit request.session.unit%}</th></tr>

                    <tr class="nozzles-form">
                     
                    </tr> 

       
                    </tbody>
                    </table>
                    <div class="form-group row">
                      <div class="col-sm-4 col-form-label">
                        <label class="project-edit-name" for="well_phases">TFA ({%display_tfa_unit request.session.unit%})</label>
                      </div>
                      
                      <div class="col-sm-8" id="total">
                        <input type="number" step="any" id="tfa" oninput="validate(this)" class="form-control" name="tfa" placeholder="Total" readonly>
                      </div>
                  </div>
                </div> 
                </div>
                <!-- <div id="total"></div> -->
                <div class="col-3">
                  
              </div>   
                <div class="col-sm-12 pb-2 pl-0 pr-0">
                    <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light detail-button drillbit_submit" id="drillbit-submit">Submit</button>
                    <!-- <button type="reset" class="btn btn-outline-secondary waves-effect detail-button-reset">Reset</button> -->
                    <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
                </div>
            </div>
        </form>
        </div>
      </div>
        {% include "footer.html" %}
        </div>
        
        </div>

      
    
    
    </div>
  </div>
</div>
</section>

<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
<script>
$(function( $ ) {
  let nozzlesForm = document.querySelectorAll(".nozzles-form")
  let nozzlesFormtable = document.querySelector("#nozzlestable")
  let totalnozzlesForms = document.querySelector("#id_nozzles-TOTAL_FORMS")
  let nozzlesnum = nozzlesForm.length-1
  
  function addnozzles(){
    let newForm = nozzlesForm[0].cloneNode(true)
    let formRegex = RegExp(`nozzles-(\\d){1}-`,'g')
    nozzlesnum++
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `nozzles-${nozzlesnum}-`)
    $("#nozzlestable").append(newForm);
    $(".nozzles-form").append('<span class="nozzle_size_error"></span>');

    totalnozzlesForms.setAttribute('value', `${nozzlesnum+1}`)
    addvalidation();
} 
 $('#no_of_nozzle').on('blur', function() { 
 
  var nozzle_size = $(this).val();
  var nozzle_form_data =''
  for(var i=0;i<nozzle_size;i++){ 
    nozzle_form_data += '<input type="number" name="nozzles-' + i + '-nozzle_size" step="any" class="form-control nozzle_size" id="' + i + '">';
    nozzle_form_data += '<br>'
  } 
  $(".nozzles-form").html(nozzle_form_data)
  
  
}) 

// $("#drillbitform").validate({
//     ignore: "",
//     rules: {
//         well_phases:"required",
//         bit_type:"required",
//         no_of_nozzle:"required",
//         nozzle_size:"required",
//         well_phases:"required"
     
//     },
//     errorPlacement: function (error, element) {
//             if (element.attr("name") == "well_phases") {
//                 error.appendTo("#well_phases_error");
//             } else {
//                 error.insertAfter(element)
//             }
//       },
//     messages: {
//         well_phases:"Please select the Well Phase",
//         bit_type:"Please select the Bit Type",
//         no_of_nozzle:"Please enter the Number of Nozzle",
//         nozzle_size:"Please enter the Nozzle Size",
//         well_phases:"Please Select Well phase"

      
//     }
//   });
//   function addvalidation(){
//   $(".nozzle_size").each(function (index) {
//       $(this).rules("add", {
//         required: true,
//         messages: {
//             required: "Please enter the Nozzle Size"
//           }
//       });
//     });
// }


//$("#no_of_nozzle").change(function () { 
//    alert('hi')
//    var a;
//    a = document.getElementById('no_of_nozzle').value;
//    var unit = document.getElementById('project_unit').value;
//    var rowCounts = $('#nozzlestable >tbody >tr').length;
//    var uppendrow= a-(rowCounts-1)
//    if(uppendrow >=0){
//    for (var i = 0; i < uppendrow; i++) {
//        addnozzles();
//    }
//  }
//  else{
//    for (var i = uppendrow; i < 0; i++) {
//      $("#nozzlestable >tbody >tr:last").remove();
 //   }
//  }
//  var max=[];
//      var values = 0;
//      $(".nozzle_size").each(function(){
//        values += parseFloat(Math.pow($(this).val(),2));
//  });
//  if(unit == 'API'){
//    var property_value = Math.PI/4096*(values)
 //   $("#tfa").val(property_value.toFixed(2));
//  }
 // else{
 //   var property_value = Math.PI/4*(values)
 //   $("#tfa").val(property_value.toFixed(2));
//  }
//  }); 

  // $("#no_of_nozzle").change(function () {
  //   var a;
  //   a = document.getElementById('no_of_nozzle').value;
  //   if(a==0){
  //     document.getElementById("drillbittable").innerHTML = "";
  //   }
  //   if (a == "") {
  //     // alert("Please enter some numeric value");
  //     document.getElementById("drillbittable").innerHTML = "";
  //   } else {
      
  //     var rows = "<thead> <th>Nozzle Size</th></thead>";
  //     for (var i = 0; i < a; i++) {
  //         var n=i+1;
  //       rows += '<tr><td> <input type="number" step="any" class="form-control nozzle_size" name="nozzle_size'+n+'" placeholder="Nozzle Size" '+n+'"></td></tr>';
  //     }
  //   document.getElementById("drillbittable").innerHTML = rows;
  //   }
  //   addvalidation();
  //   })

    $(document).on("blur", ".nozzle_size" , function() {
      var unit = document.getElementById('project_unit').value;
      var max=[];
      var values = 0;
      $(".nozzle_size").each(function(){
        values += parseFloat(Math.pow($(this).val(),2));
      });
      if(unit == 'API'){
        var property_value = Math.PI/4096*(values)
        $("#tfa").val(property_value.toFixed(2));
      }
      else{
        var property_value = Math.PI/4*(values)
        $("#tfa").val(property_value.toFixed(2));
      }
  });

var validate = function(e) {
var t = e.value;
e.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
}




});
var storedArray = JSON.parse(sessionStorage.getItem("items"));
var well_id='{{well_id}}'
if(well_id == storedArray[1]){
    $('.warning').show();
}else{
    $('.warning').hide();
}
</script>
{%endblock%}
{% block scripts %}
{{block.super}}
<script src="{% static 'js/menuactive.js' %}"></script>
<script src="{% static 'js/allvalidation.js' %}"></script>

{%endblock%}