
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}

<section>
  <div class="row align-items-start">
    <!--col-2 start-->
    {% getcountries countries as countries %}
    {% include 'projectsidemenu.html' %} 
    <!--col-2 end-->
    
    <!--col-8 start-->
    <div class="col-md-8 p-0  create-pg main-section col-md-10">
      <div class="create_project_sec scroll-line new-cru-well">
        {% comment %} <div class="well-name-list">{{well.name}}</div>
        <button class="hide-show fa fa-long-arrow-right"></button> {% endcomment %}
        {% include "projectheader.html" %}
        <div class="col-12">
            {% include "welldetails_menu.html" %} 
        </div>
        <div class="col-12">
          <div class="sample-sub-menu">
            <div class="container">
              <div class="row menu-button menu-types">
                <div class="col-md-3">
                    <div class="sub-list {% if request.session.submenu == 'muddata' %}active{% endif %}">
                        <a href="{% url 'muddata:muddatarheogramlist' wellphase_id %}" id="mud"> Mud Data </a>
                    </div>
                </div>
                <div class="col-md-3 data-drill">
                  <div class="sub-list drill-data2 {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                      <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                  </div>
                </div>
                <div class="col-md-3 data-drill">
                    <div class="sub-list drill-data {% if request.session.submenu == 'drillbit' %}active{% endif %}">
                        <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                    </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <form class="form form-horizontal" method="POST" id="bhadataform">
          {% csrf_token %}
          <input type="hidden" id="well" class="form-control" name="well" value={{well_id}}>
          <input type="hidden" id="well_type" class="form-control" name="well_type" value={{request.session.welltype}}>
          <div class="bhd-side-marg">
            <div class="container">
              <div class="row">
                <!-- <div class="col-3">
                  <h6 class="tit-head-mud">Date</h6>
                </div>
                <div class="col-3">
                  <h6 class="tit-head-mud">Time</h6>
                </div> -->
                <div class="col-3">
                  <h6 class="tit-head-mud">Depth</h6>
                </div>
                <div class="col-3">
                  <h6 class="tit-head-mud">BHA Name</h6>
                </div>
                <div class="col-3">
                </div>
              </div>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for i in '0'|make_list %}
                <div class="panel panel-default">
                  <div class="panel-heading new-expand-row" role="tab" id="headingOne">
                    <div class="row">
                      
                      <div class="col-3">
                        <input type="number" step="any" class="form-control depth" name="depth" id="depth{{forloop.counter0}}" data-id="{{forloop.counter0}}"><span class="depth_error"></span>
                      </div>
                      <div class="col-3">
                        <input type="text" class="form-control bhaname" name="bhaname" id="bhaname{{forloop.counter0}}" data-id="{{forloop.counter0}}"><span class="bhaname_error"></span>
                      </div>
                      <div class="col-3 expand-mid-btn">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" class="expand-btn clr-expand" href="#collapseOne{{forloop.counter0}}" aria-expanded="true" aria-controls="collapseOne">
                          <i class="fa fa-plus-circle plus-icons-expand" aria-hidden="true"></i>Expand
                        </a>  
                        <a role="button" class="remove_bha">
                          <i class="fa fa-minus-circle mins-icons-expand" aria-hidden="true"></i>
                        </a> 
                        <a role="button" class="copy_bha" dataid="{{forloop.counter0}}">Copy 
                          <i class="fa fa-copy"></i>
                        </a>
                        <a role="button"class="paste_bha" dataid="{{forloop.counter0}}">Paste 
                          <i class="fa-solid fa-paste"></i>
                        </a>
                        <!-- <input type="file" class="excelfile" id="excelfile{{forloop.counter0}}" />  
                        <input type="button" id="viewfile" class="viewfile" data-id="{{forloop.counter0}}" value="Upload" onclick="ExportToTable(this)" />                          -->
                      </div>
                    </div>
                  
                  </div>
                  <div id="collapseOne{{forloop.counter0}}" class="panel-collapse collapse in new-border-box-deg" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body ">
                      <!-- <table class="exceltable" id="exceltable{{forloop.counter0}}"></table> -->
                      <table class="table bhadatatable boto-line-sep" id="bhadatatable{{forloop.counter0}}">
                        <thead>
                          <tr id="header">
                            <th>Type</th>
                            <th>BHA Element</th>
                            <th>OD{%display_diameterunit request.session.unit%}</th>
                            <th>ID{%display_diameterunit request.session.unit%}</th>
                            <th>Length({%display_lengthunit request.session.unit%})</th>
                            <th>Cumulative Length({%display_depthunit request.session.unit%})</th>
                            <th>Action</th>
                          </tr>       
                        </thead>
                        <tbody>
                            {% for i in loop_times %}
                            <tr id="bhadatarow" class="bhadatarowcls">
                              <td>
                                <select class="form-control type_name" data-id="actual_type_name" id="type_name" name="type_name{{forloop.parentloop.counter0}}" placeholder="Type" dataid="{{forloop.parentloop.counter0}}">
                                  <option value="" {%if i == 1%} disabled {%endif%}>-- Type --</option>
                                  <option value="Bit" {%if i == 1%} selected {%endif%}>Bit</option>
                                  <option value="MWD" {%if i == 1%} disabled {%endif%}>MWD</option>
                                  <option value="LWD" {%if i == 1%} disabled {%endif%}>LWD</option>
                                  <option value="Jar" {%if i == 1%} disabled {%endif%}>Jar</option>
                                  <option value="RSS" {%if i == 1%} disabled {%endif%}>RSS</option>
                                  <option value="Mud Motor" {%if i == 1%} disabled {%endif%}>Mud Motor</option>
                                  <option value="Stabilizer" {%if i == 1%} disabled {%endif%}>Stabilizer</option>
                                  <option value="Drill Collar" {%if i == 1%} disabled {%endif%}>Drill Collar</option>
                                  <option value="NMDC" {%if i == 1%} disabled {%endif%}>NMDC</option>
                                  <option value="Heavy Weight Drill Pipe" {%if i == 1%} disabled {%endif%}>Heavy Weight Drill Pipe</option>
                                  <option value="Drill Pipe" {%if i == 1%} disabled {%endif%}>Drill Pipe</option>
                                  <option value="Others" {%if i == 1%} disabled {%endif%}>Others</option>
                                </select>
                                <input type="button" class="rss_button" value="+" dataid="{{forloop.parentloop.counter0}}"/>
                                <input type="button" class="mudmotor_button" value="+" dataid="{{forloop.parentloop.counter0}}"/>
                                <span class="type_name_error"></span>
                              </td> 
                              <td><input type="text" id="element" data-id="actual_element" class="form-control element" name="element{{forloop.parentloop.counter0}}" placeholder="BHA Element"><span class="element_error"></span></td>
                              <td><input type="number" step="any" data-id="actual_od" id="od" class="form-control od" name="od{{forloop.parentloop.counter0}}" placeholder="OD" dataid="{{forloop.parentloop.counter0}}"><span class="od_error"></span></td>
                              <td>
                                <input type="hidden" id="database_od" class="form-control database_od" name="database_od{{forloop.parentloop.counter0}}" value="">
                                <input type="hidden" id="weight" class="form-control coll_weight" name="weight{{forloop.parentloop.counter0}}" placeholder="Weight" value="">
                                <input type="hidden"  id="pipe_type" class="form-control pipe_type" name="pipe_type{{forloop.parentloop.counter0}}" placeholder="Pipe Type" >
                                <input type="hidden"  id="connection_type" class="form-control connection_type" name="connection_type{{forloop.parentloop.counter0}}" >
                                <input type="hidden"  id="tool_od" class="form-control tool_od" name="tool_od{{forloop.parentloop.counter0}}"  >
                                <input type="hidden"  id="tool_id" class="form-control tool_id" name="tool_id{{forloop.parentloop.counter0}}"  >
                                <input type="hidden"  id="classtype" class="form-control classtype" name="classtype{{forloop.parentloop.counter0}}"  >
                                <input type="hidden"  id="grade" class="form-control grade" name="grade{{forloop.parentloop.counter0}}">
                                <input type="hidden"  id="onejoint_length" class="form-control onejoint_length" name="onejoint_length{{forloop.parentloop.counter0}}">
                                <input type="hidden"  id="box_tj_length" class="form-control box_tj_length" name="box_tj_length{{forloop.parentloop.counter0}}">
                                <input type="hidden"  id="pin_tj_length" class="form-control pin_tj_length" name="pin_tj_length{{forloop.parentloop.counter0}}">
                                {% if i == 1 %}
                                <input type="hidden" step="any" id="identity" class="form-control identity first_id" name="identity{{forloop.parentloop.counter0}}" placeholder="ID" data-id="actual_identity">
                                {%else%}
                                <input type="number" step="any" id="identity" class="form-control identity" name="identity{{forloop.parentloop.counter0}}" placeholder="ID" data-id="actual_identity">
                                {% endif %}
                                <span class="identity_error"></span>
                              </td>                             
                              <td><input type="number" step="any" data-id="actual_length" id="length" class="form-control actual_length" name="length{{forloop.parentloop.counter0}}" placeholder="Length" dataid="{{forloop.parentloop.counter0}}"><span class="length_error"></span></td>
                              <td>
                                <input type="hidden" class="form-control measured_depth">
                                <input type="number" step="any" data-id="actual_length_onejoint" id="length_onejoint" class="form-control cumulative-length" name="length_onejoint{{forloop.parentloop.counter0}}" placeholder="Cumulative Length">
                                <span class="length_onejoint_error"></span>
                              </td>
                              <td class="sme-line-box">
                                <button type="button" name="add" class="addbhadatarows iconaction box-remove-line" dataid="{{forloop.parentloop.counter0}}"><i class="fa fa-plus"></i></button>
                                <button type="button" name="remove" class="deletebhadatarow iconaction box-remove-line" dataid="{{forloop.parentloop.counter0}}"><i class="fa fa-trash"></i></button>
                              </td>
                            </tr>
                          {%endfor%}
                        <tr id="bhadatarow1" style="display:none">
                          <td>
                            <select class="form-control type_name" data-id="actual_type_name" id="type_name" name="type_name" placeholder="Type">                              <option value="">-- Type --</option>
                              <option value="Bit" >Bit</option>
                              <option value="MWD" >MWD</option>
                              <option value="LWD" >LWD</option>
                              <option value="jar" >jar</option>
                              <option value="RSS" >RSS</option>
                              <option value="Mud Motor" >Mud Motor</option>
                              <option value="Stabilizer" >Stabilizer</option>
                              <option value="Drill Collar" >Drill Collar</option>
                              <option value="NMDC" >NMDC</option>
                              <option value="Heavy Weight Drill Pipe" >Heavy Weight Drill Pipe</option>
                              <option value="Drill Pipe" >Drill Pipe</option>
                              <option value="Others" >Others</option>
                            </select>
                            <input type="button" class="rss_button" value="+"/>
                            <input type="button" class="mudmotor_button" value="+"/>
                            <span class="type_name_error"></span>
                            <!-- <input type="text" id="type_name" class="form-control" name="type_name" placeholder="Type"> -->
                          </td>
                          <!-- <td><input type="button" class="rss_button" value="+"/></td>    -->
                          <td><input type="text" data-id="actual_element" id="element" class="form-control " name="element" placeholder="BHA Element"><span class="element_error"></span></td>
                          <td><input type="number" step="any" data-id="actual_od" id="od" class="form-control od" name="od" placeholder="OD" dataid="{{forloop.parentloop.counter0}}"><span class="od_error"></span></td>
                          <!-- <td><input type="hidden" step="any" id="weight" class="form-control coll_weight" name="weight" placeholder="Weight" ></td>
                          <td><input type="hidden" step="any" id="pipe_type" class="form-control pipe_type" name="pipe_type" placeholder="Pipe Type" ></td>
                          <td><input type="hidden" step="any" id="connection_type" class="form-control connection_type" name="connection_type" ></td>
                          <td><input type="hidden" step="any" id="tool_od" class="form-control tool_od" name="tool_od"  ></td> -->
                          <td>
                            <input type="hidden" id="database_od" class="form-control database_od" name="database_od" value="">
                            <input type="hidden" id="weight" class="form-control coll_weight" name="weight" placeholder="Weight" value="" >
                            <input type="hidden"  id="pipe_type" class="form-control pipe_type" name="pipe_type" placeholder="Pipe Type" >
                            <input type="hidden"  id="connection_type" class="form-control connection_type" name="connection_type" >
                            <input type="hidden"  id="tool_od" class="form-control tool_od" name="tool_od"  >
                            <input type="hidden"  id="tool_id" class="form-control tool_id" name="tool_id"  >
                            <input type="hidden"  id="classtype" class="form-control classtype" name="classtype"  >
                            <input type="hidden"  id="grade" class="form-control grade" name="grade">
                            <input type="hidden"  id="onejoint_length" class="form-control onejoint_length" name="onejoint_length">
                            <input type="hidden"  id="box_tj_length" class="form-control box_tj_length" name="box_tj_length">
                            <input type="hidden"  id="pin_tj_length" class="form-control pin_tj_length" name="pin_tj_length">
                            <input type="number" step="any" id="identity" class="form-control identity" name="identity" placeholder="ID" data-id="actual_identity"><span class="identity_error"></span>
                          </td>
                          <td><input type="number" step="any" data-id="actual_length" id="length" class="form-control length" name="length" placeholder="Length"><span class="length_error"></span></td>
                          <td><input type="number" step="any" data-id="actual_length_onejoint"  id="actual_length_onejoint" class="form-control cumulative-length" name="length_onejoint" placeholder="Length One Joint" ><span class="length_onejoint_error"></span></td>
                          <td class="sme-line-box">
                            <button type="button" name="add" class="addbhadatarows iconaction box-remove-line"><i class="fa fa-plus"></i></button>
                            <button type="button" name="remove" class="deletebhadatarow iconaction box-remove-line"><i class="fa fa-trash"></i></button>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
              <div class="row">
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3"></div>
                <div class="col-3 expand-mid-btn">
                  <a role="button" id="add_bha" class="clr-expand">
                    <i class="fa fa-plus-circle plus-icons-expand" aria-hidden="true"></i>Add
                  </a>  
                </div>
              </div>
            </div>
          </div>
          <div id="flowratemodal"></div>
          <div id="mud_motor"></div>
          <div class="row">
            <div class="col-9">
            <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light detail-button submit-exp actual_bha_submit">Submit</button>
            </div>
            <div class="col-3">
            <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
            </div>
          </div>
          </form>
        </div>
        {% include "footer.html" %}
      </div>
    </div>
    <!--col-8 end-->

    <!--col-2 start-->
    <div class="col-2">
      {% include "userheader.html" %}
      <h4 class="model-caption">Well Phases</h4>
      {% for wellphase in wellphases %}
      <div class="row">
        <div class="col-12">
          <nav class="navbar bg-white phase-sidemenu">
            <ul class="nav navbar-nav">
              <li class="nav-item phs-list {% if request.session.wellphasetab == wellphase.id %}active{% endif %}">
                <a class="nav-link" href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
                <!-- <ul class="myDIV nav navbar-nav custom_active_list pressure-sidemenu  {% if wellphase_id == wellphase.id %}show{% endif %}">
                  {% getsectionbywellphase_id wellphase.id as sections %}
                  {% for section in sections %}
                  <li data-id="{{section.section_name}}" wellphase_id="{{wellphase.id}}" class="wellphase_sidemenu remove-line">{{section.section_name | depthunit:request.session.unit}}</li>
                  {% endfor %}
              </ul> -->
              </li>
            </ul>
          </nav>
        </div>
      </div>
      {% endfor %}
      <div class="col-md-12 warning"></div>
    </div>
    <!--col-2 end-->
    <!--modal popup code start-->
    <!--drill collars code start -->
    <div class="modal fade myModal1234" id="myModal1234">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Drill Collars</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <table class="table">
            <thead class="text-center">
              <tr>      
                  <h4 class="modal-heading">Select Values</h4>
              </tr>
            </thead>
            <tr>
              <th id='nominal_head'>Nominal OD</th>
              <th id='weight_head'style="display: none;">Nominal weight</th>
              <th id='pipe_head' style="display: none;">Pipe Type</th>
              <th id='connect_head' style="display: none;">Connection Type</th>
              <th id='tj_head' style="display: none;">Tool Joint OD</th>
              <th id='one_joint_head' style="display: none;">One Joint Length</th>
            </tr>
            <tbody>
              <tr>
                <td>
                  <ul class="nominal_od_val remove-li-lists pop-up-hand">
                    {% for drillcollar in drillcollars %}
                    <li databasevalue="{{drillcollar.databasevalue}}" nominal_val="{{drillcollar.normal_od}}">{{drillcollar.normal_od}}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>
                  <ul class='weight_val pop-up-hand remove-li-lists'>
                  </ul>
                </td>
                <td>
                  <ul class='pipetype_val pop-up-hand remove-li-lists'></ul>
                </td>
                <td>
                  <ul class='connectiontype_val pop-up-hand remove-li-lists'></ul>
                </td>
                <td>
                  <ul class='tool_od_val pop-up-hand remove-li-lists'></ul>
                </td>
                <td>
                  <input type="text" class="form-control one_joint_length" style="display: none;" id="one_joint_length" name="one_joint_length" placeholder="One Joint length"> 
              </td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="modal-close" >Close</button>
          </div> 
        </div>
      </div>
    </div>
    <!--drill collars code end-->
   
    <!-- DrillPipe modal start  -->
    <div class="modal fade drillpipebha" id="drillpipebha">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">DrillPipe</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table">
                <!-- <thead class="text-center"> -->
                  <tr>      
                      <h4 class="modal-heading">Select Values</h4>
                  </tr>
                <!-- </thead> -->
                <thead class="drill-pipe-popup">
                <tr>
                  <th id="pipe_nominal_head">Nominal OD</th>
                  <th id="pipe_weight_head" style="display: none;">Nominal Weight</th>
                  <th id="pipe_grade_head" style="display: none;">Grade</th>
                  <th id="pipe_type_head" style="display: none;">Tool Joint Type</th>
                  <th id="pipe_od_head" style="display: none;">Tool Joint OD</th>
                  <th id="pipe_class_head" style="display: none;">Class</th>
                  <th id="pipe_joint_head" style="display: none;">One Joint Length</th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>
                      <ul class="drillpipe_nod pop-up-hand remove-li-lists">
                        {% for drillpipe in drillpipes %}
                        <li databasevalue="{{drillpipe.databasevalue}}" drillpipe_nod="{{drillpipe.normal_od}}">{{drillpipe.normal_od}}</li>
                        {% endfor %}
      
                      </ul>
                    </td>
                    <td>
                      <ul class="drillpipe_weight pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="drillpipe_grade pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="drillpipe_jointtype pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="drillpipe_jointod pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="drillpipe_class pop-up-hand remove-li-lists" >
                        <li drillpipe_class="Class1">Class1</li>
                        <li drillpipe_class="Premium">Premium</li>
                        <li drillpipe_class="Class2">Class2</li>
                      </ul>
                    </td>
                    <td>
                      <input type="text" class="form-control drillpipe_onejoint_length" id="drillpipe_onejoint_length" name="drillpipe_onejoint_length" placeholder="One Joint length" style="display: none;">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="modal-close" >Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- DrillPipe modal end  -->

    <!-- HWDP model start -->
    <div class="modal fade drillpipehwdp" id="drillpipehwdp">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">HWDP</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table">
                <!-- <thead class="text-center"> -->
                  <tr>      
                    <h4 class="modal-heading">Select Values</h4>
                  </tr>
                <!-- </thead> -->
                <thead class="new-popup">
                <tr>
                  <th>Nominal OD</th>
                  <th id='hwdp_weight_head' style="display: none;">Nominal Weight</th>
                  <th id='hwdp_type_head' style="display: none;">Tool Joint Type</th>
                  <th id='hwdp_jointod_head' style="display: none;">Tool Joint OD</th>
                  <th id='hwdp_class_head' style="display: none;">Class</th>
                  <th id='hwdp_one_joint_head' style="display: none;">One Joint Length</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <ul class="hwdp_nod pop-up-hand remove-li-lists">
                        {% for drillpipeshwdps in drillpipeshwdp %}
                        <li databasevalue="{{drillpipeshwdps.databasevalue}}" hwdp_nominal="{{drillpipeshwdps.nominal_od}}">{{drillpipeshwdps.nominal_od}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <ul class="hwdp_weight pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="hwdp_jointtype pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="hwdp_jointod pop-up-hand remove-li-lists">
                      </ul>
                    </td>
                    <td>
                      <ul class="hwdp_class pop-up-hand remove-li-lists">
                        <li classtype="Class1">Class1</li>
                      </ul>
                    </td>
                    <td>
                      <input type="text" name="hwdp_one_joint_length" style="display: none;" class="form-control hwdp_one_joint_length" id="hwdp_one_joint_length" placeholder="One Joint length">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="modal-close" >Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- hwdp model end -->

    <!--modal popup code end-->

  </div>
</section>
{% endblock %}
{% block scripts %}
{{block.super}}
<script>
  var well_id='{{well_id}}';
</script>
<script src="{% static 'js/menuactive.js' %}"></script>
<script src="{% static 'js/bhadata.js' %}"></script>
<script src="{% static 'js/allvalidation.js' %}"></script>
<!-- <script src="jquery-1.10.2.min.js" type="text/javascript"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script> 
  <script type="text/javascript">
    function ExportToTable(value) { 
      var dataid=$(value).data("id");
     var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xlsx|.xls)$/; 
     /*Checks whether the file is a valid excel file*/  
     if (regex.test($('#excelfile'+dataid+'').val().toLowerCase())) {  
       
         var xlsxflag = false; /*Flag for checking whether excel is .xls format or .xlsx format*/  
         if ($('#excelfile'+dataid+'').val().toLowerCase().indexOf(".xlsx") > 0) {  
             xlsxflag = true;  
         }  
         /*Checks whether the browser supports HTML5*/  
         if (typeof (FileReader) != "undefined") {  
             var reader = new FileReader();  
             reader.onload = function (e) {  
                 var data = e.target.result;  
                 /*Converts the excel data in to object*/  
                 if (xlsxflag) {  
                     var workbook = XLSX.read(data, { type: 'binary' });  
                 }  
                 else {  
                     var workbook = XLS.read(data, { type: 'binary' });  
                 }  
                 /*Gets all the sheetnames of excel in to a variable*/  
                 var sheet_name_list = workbook.SheetNames;  
  
                 var cnt = 0; /*This is used for restricting the script to consider only first sheet of excel*/  
                 sheet_name_list.forEach(function (y) { /*Iterate through all sheets*/  
                     /*Convert the cell value to Json*/  
                     if (xlsxflag) {  
                         var exceljson = XLSX.utils.sheet_to_json(workbook.Sheets[y]);  
                     }  
                     else {  
                         var exceljson = XLS.utils.sheet_to_row_object_array(workbook.Sheets[y]);  
                     }  
                     if (exceljson.length > 0 && cnt == 0) {
                         BindTable(exceljson, '#bhadatatable'+dataid+'', dataid);  
                         cnt++;  
                     }  
                 });  
                 $('#bhadatatable'+dataid+'').show();  
             }  
             if (xlsxflag) {/*If excel file is .xlsx extension than creates a Array Buffer from excel*/  
                 reader.readAsArrayBuffer($('#excelfile'+dataid+'')[0].files[0]);  
             }  
             else {  
                 reader.readAsBinaryString($('#excelfile'+dataid+'')[0].files[0]);  
             }  
         }  
         else {  
             alert("Sorry! Your browser does not support HTML5!");  
         }  
     }  
     else {  
         alert("Please upload a valid Excel file!");  
     }  
 }  
 function BindTable(jsondata, tableid, dataid) {/*Function used to convert the JSON array to Html Table*/   
  var columns = BindTableHeader(jsondata, tableid); /*Gets all the column headings of Excel*/  
  var html ='';
  for (var i = 0; i < jsondata.length; i++) { 
    html += '<tr>'
    html += '<td><select class="form-control type_name" id="type_name" name="type_name0" placeholder="Type" dataid="0">'
    html += '<option value="">-- Type --</option>'
    html += '<option value="Bit">Bit</option>'                
    html +='<option value="MWD">MWD</option>'               
    html +='<option value="LWD">LWD</option>'              
    html +='<option value="Jar">Jar</option>'             
    html +='<option value="RSS">RSS</option>'              
    html +='<option value="Mud Motor">Mud Motor</option>'           
    html +='<option value="Stabilizer">Stabilizer</option>'            
    html +='<option value="Drill Collar">Drill Collar</option>'            
    html +='<option value="NMDC">NMDC</option>'             
    html +='<option value="Heavy Weight Drill Pipe">Heavy Weight Drill Pipe</option>'              
    html +='<option value="Drill Pipe">Drill Pipe</option>'              
    html +='<option value="Others">Others</option>'             
    html +='</select>'           
    html +='<input type="button" class="rss_button" value="+" dataid="0" style="display: none;">'            
    html +='<input type="button" class="mudmotor_button" value="+" dataid="0" style="display: none;">'           
    html +='</td>'
    html += '<td><input type="text" id="element" class="form-control element" name="element0" value='+jsondata[i].BHA_Element+'></td>'
    html += '<td><input type="number" step="any" id="od" class="form-control od" name="od0" value='+jsondata[i].OD+' dataid="0"></td>'
    html += '<td><input type="number" step="any" id="identity" class="form-control identity" name="identity0" value='+jsondata[i].ID+'></td>'
    html += '<td><input type="number" step="any" id="length" class="form-control actual_length" name="length0" value='+jsondata[i].Length+' dataid="0"></td>'
    html += '<td><input type="number" step="any" id="length_onejoint" class="form-control cumulative-length" name="length_onejoint0" placeholder="Cumulative Length"></td>'
    html += '<td class="sme-line-box"><button type="button" name="add" class="addbhadatarows iconaction box-remove-line" dataid="1"><i class="fa fa-plus"></i></button><button type="button" name="remove" class="deletebhadatarow iconaction box-remove-line" dataid="1"><i class="fa fa-trash"></i></button></td>'
    html += '</tr>'
    // $('.od').val(jsondata[i].OD)

         var row$ = $('<tr/>');  
         for (var colIndex = 0; colIndex < columns.length; colIndex++) {  
             var cellValue = jsondata[i][columns[colIndex]];  
             if (cellValue == null)  
                 cellValue = "";  
             row$.append($('<td/>').html(cellValue));  
         } 
         
         $(tableid).append(row$);  
  }  
  $('#bhadatatable'+dataid+' >tbody').html(html);
 } 
 function BindTableHeader(jsondata, tableid) {/*Function used to get all column names from JSON and bind the html table header*/  
     var columnSet = [];  
     var headerTr$ = $('<tr/>');  
     for (var i = 0; i < jsondata.length; i++) {  
         var rowHash = jsondata[i];  
         for (var key in rowHash) {  
             if (rowHash.hasOwnProperty(key)) {  
                 if ($.inArray(key, columnSet) == -1) {/*Adding each unique column names to a variable array*/  
                     columnSet.push(key);  
                     headerTr$.append($('<th/>').html(key));  
                 }  
             }  
         }  
     }  
     $(tableid).append(headerTr$);  
     return columnSet;  
 } 
    </script> -->
 

{%endblock%}
      

