
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}

<section>
  <div class="row align-items-start">
    {% getcountries countries as countries %}
    {% include 'projectsidemenu.html' %} 
      <div class="col-md-8 p-0  create-pg main-section col-md-10">
      <div class="create_project_sec scroll-line new-cru-well">
        {% comment %} <div class="well-name-list">{{well.name}}</div>
        <button class="hide-show fa fa-long-arrow-right"></button> {% endcomment %}
        {% include "projectheader.html" %}
    <div class="col-12">
        {% include "welldetails_menu.html" %} 
    </div>
    <div class="col-12">
        <div class="sample-sub-menu">
          <div class="container">
          <div class="row menu-button menu-types">
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-3">
                <div class="sub-list {% if request.session.submenu == 'muddata' %}active{% endif %}">
                    <a href="{% url 'muddata:muddatarheogramlist' wellphase_id %}" id="mud"> Mud Data </a>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="sub-list {% if request.session.submenu == 'rheogram' %}active{% endif %}">
                    <a href="{% url 'muddata:rheogramlist' wellphase_id %}" id="Rheogram">Rheogram</a>
                </div>
            </div> -->
            <div class="col-md-3 data-drill">
                <div class="sub-list drill-data {% if request.session.submenu == 'drillbit' %}active{% endif %}">
                    <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-list {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                    <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                </div>
            </div>
            <div class="col-md-3 data-drill">
              <div class="sub-list drill-data2  {% if request.session.submenu == 'hydraulics' %}active{% endif %}">
              <a href="{% url 'muddata:calculateallpressureloss' wellphase_id %}" id="bhadata"> Hydraulics</a>
            </div>
          </div>
            <!-- <div class="col-md-3">
                <div class="sub-list {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                     <a href="{% url 'muddata:pressurelawcalculation' wellphase_id %}" id="bhadata">Bore Pressure Loss</a>
                </div>
            </div>
            <div class="col-md-3">
              <div class="sub-list {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                  <a href="{% url 'muddata:annuluspressureloss' wellphase_id %}" id="bhadata">Annulus Pressure Loss</a>
              </div>
          </div> -->
          </div>
          </div>
        </div>
    </div>
    

    
      <!-- <div class="col-2">
        {% for wellphase in wellphases %}
          <div class="row">
            <div class="col-12">
              <a href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
            </div>
          </div>
                       
        {% endfor %}
      </div> -->
      
        <div class="col-12">
          <!-- <div class="sample-sub-menu">
            <div class="row">
                <div class="col-md-3">
                  <div class="sub-list active">
                        <a href="{% url 'muddata:list' wellphase_id %}" id="mud"> Mud Data </a>
                        </div>
                </div>
                <div class="col-md-3">
                  <div class="sub-list">
                        <a href="{% url 'muddata:rheogramlist' wellphase_id %}" id="Rheogram">Rheogram</a>
                        </div>
                </div>
                <div class="col-md-3">
                  <div class="sub-list">
                        <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                        </div>
                </div>
                <div class="col-md-3">
                  <div class="sub-list">
                        <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                        </div>
                </div>
            </div>
            </div> -->
            <div class="bhd-side-marg">
              <div class="card">
                
                <div class="card-header">
                  <h4 class="card-title">BHA Data Details</h4>
                </div>
                <div class="table-responsive table-hover table-striped">
                  <table class="table ">
                    <tbody>
                      {%if welltype == 'ACTUAL' %}
                      <tr>
                        <th>
                          <span class="font-weight-bold">Date</span>
                        </th>
                        <td>{{bhadata.date}}</td>
                      </tr>  
                      {%endif%}          
                    </tbody>
                  </table>
    
                  <table class="table table_css">
                    <thead>
                      <tr>
                        <th>
                          <span class="font-weight-bold">Type</span>
                        </th>
                        <th>
                            <span class="font-weight-bold">Element</span>
                          </th>
                          <th>
                            <span class="font-weight-bold">OD{%display_diameterunit request.session.unit%}</span>
                          </th>
                          <th>
                            <span class="font-weight-bold">ID{%display_diameterunit request.session.unit%}</span>
                          </th>
                        <th>
                          <span class="font-weight-bold">Length({%display_depthunit request.session.unit%})</span>
                        </th>
                        <th>
                          <span class="font-weight-bold">Cumulative Length({%display_depthunit request.session.unit%})</span>
                        </th>
                        <th>
                          <span class="font-weight-bold">Action</span>
                        </th>
                        <!-- <th>
                          <span class="font-weight-bold">Type</span>
                        </th> -->
                      </tr>            
                    </thead>
                    <tbody>
                      {%for element in bhaelement%}
                      <tr>
                        <td>
                          {{ element.type_name }}
                      </td>
                        <td>
                            {{ element.element }}
                        </td>
                        <td>
                            {{ element.od|diameterunit:bhadata.well.project.unit }}
                          </td>
                          <td>
                            {{ element.identity|diameterunit:bhadata.well.project.unit }}
                          </td>
                        <td>
                          {{ element.length|floatformat:2|lengthunit:bhadata.well.project.unit }}
                        </td>
                        <td>
                          {{ element.length_onejoint|floatformat:2|lengthunit:bhadata.well.project.unit  }}
                        </td>
                        <td>
                          {% if element.type_name == 'RSS' or element.type_name == 'MWD' or  element.type_name == 'LWD' or element.type_name == 'Others' %}
                          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{element.type_name}}">Details</button>
                         
                          {% endif %}
                          {%if element.type_name == 'Mud Motor'%}
                          <button type="button" class="btn btn-info mud_motor_button" data-toggle="collapse" data-target="#mud_motor">Details</button>
                          {% endif %}
                        </td>
                      
                        <!-- <td>
                          {{ element.type_name}}
                        </td> -->
                      </tr>
                      {% if element.type_name == 'RSS' or element.type_name == 'MWD' or  element.type_name == 'LWD' or element.type_name == 'Others' %} 
                      <tr>
                        <td colspan="7">
                        <div id="{{element.type_name}}" class="collapse flex_table rss-value">
                          {% getflowtestspecifications element.id element.bhadata_id as specification %}
                          <table class="rss-tbl">
                            <!-- <tr>
                                <td colspan="3">
                                <tr> -->
                                  <th>Name:</th>
                                  <td>{{specification.name}}</td>
                                </tr>
                                <tr>
                                  <th>OD {%display_diameterunit request.session.unit%}:</th>
                                  <td>{{specification.specification_od}} in</td>
                                </tr>
                                <tr>
                                  <th>ID {%display_diameterunit request.session.unit%}:</th>
                                  <td>{{specification.specification_id}} in</td>
                                </tr>
                                <tr>
                                  <th>Length {%display_depthunit request.session.unit%}:</th>
                                  <td>{{specification.specification_length}} ft</td>
                                </tr>
                                <tr>
                                  <th>Minimum Flowrate {%display_flowrateunit request.session.unit%}:</th>
                                  <td>{{specification.minimum_flowrate}} gpm</td>
                                </tr>
                                <tr>
                                  <th>Maximum Flowrate {%display_flowrateunit request.session.unit%}:</th>
                                  <td>{{specification.maximum_flowrate}} gpm</td>
                                </tr>
                              </td>
                              </tr>
                              </table>
                              {% if element.calculation_type == 1 %}
                              <table class="rss-tbl">
                              <tr>
                              
                                {% getflowtestpressuredrop element.id element.bhadata_id as pressuredrop %}
                                <tr>
                                  <th>Flowrate</th>
                                  <th>Pressure Drop</th>
                                </tr>
                                {% for pressure in pressuredrop %}
                                <tr>
                                  <td>{{pressure.flowrate}} gpm</td>
                                  <td>{{pressure.pressure_drop}} psi</td>
                                </tr>
                                {%endfor%}

                              
                            </tr>
                            </table >
                            {%endif%}
                            {% if element.calculation_type == 2 %}
                            <table class="rss-tbl">
                              <tr>
                              <td>
                                {% getempirical element.id element.bhadata_id as empirical %}
                                {{ empirical.formula_python_text|safe }}

                              
                              </td>
                            </tr>
                           
                          </table>
                          {%endif%}
                        </div>
                      </td>
                      </tr>
                      {% endif %}
                      {% if element.type_name == 'Mud Motor'%}
                      <tr>
                      <td colspan="7">
                        <div id="mud_motor" class=" collapse flex_table rss-value">
                          {% getflowtestspecifications element.id element.bhadata_id as specification %}
                          <table class="rss-tbl">
                            <tr>
                                
                                <tr>
                                  <th>Name:</th>
                                  <td>{{specification.name}}</td>
                                </tr>
                                <tr>
                                  <th>Maximum Flowrate {%display_flowrateunit request.session.unit%}:</th>
                                  <td>{{specification.maximum_flowrate}} gpm</td>
                                </tr>
                                <tr>
                                  <th>Minimum Flowrate {%display_flowrateunit request.session.unit%}:</th>
                                  <td>{{specification.minimum_flowrate}} gpm</td>
                                </tr>
                                <tr>
                                  <th>Maximum RPM:</th>
                                  <td>{{specification.maximum_rpm}} rpm</td>
                                </tr>
                                <tr>
                                  <th>Minimum RPM:</th>
                                  <td>{{specification.minimum_rpm}} rpm</td>
                                </tr>
                                <tr>
                                  <th>No Load Differential Pressure {%display_pressureunit request.session.unit%}:</th>
                                  <td>{{specification.no_load_diff_pressure}} psi</td>
                                </tr>
                                <tr>
                                  <th>Maximum DP {%display_pressureunit request.session.unit%}:</th>
                                  <td>{{specification.max_dp}} psi</td>
                                </tr>
                                <tr>
                                  <th>Recom DP {%display_pressureunit request.session.unit%}:</th>
                                  <td>{{specification.recom_dp}} psi</td>
                                </tr>
                                <tr>
                                  <th>Max WOB:</th>
                                  <td>{{specification.max_wob}} lbf</td>
                                </tr>
                              </td>
                            </tr>
                          </table> 
                          <table class="rss-tbl">
                            {% getdiff_pressure element.id element.bhadata_id as differential_pressure %}
                            <tr>
                              <th>Torque</th>
                              <th>Differential Pressure</th>
                            </tr>
                            {% for pressure in differential_pressure %}
                            <tr>
                              <td>{{pressure.torque}} ft-lbf</td>
                              <td>{{pressure.diff_pressure}} psi</td>
                            </tr>
                            {%endfor%}

                          </table>
                        </div>
                      </td>
                    </tr>
                      {% endif %}
                      {%endfor%}
                      
              
                    </tbody>
                  </table>
                </div>
                <div class="row" id="basic-table">
                  <div class="col-sm-9 offset-sm-3">
                    <a onclick="confirmation(event)" class="btn btn-outline-danger ml-1 waves-effect detail-button" href="{% url 'bhadata:delete' bhadata.pk %}?wellphase={{wellphase_id}}"> <span class="action-delete-well"><i class="feather icon-trash"></i> Delete</span></a>
                    <a class="btn btn-primary waves-effect ml-1 waves-float waves-light detail-button" href="{% url 'bhadata:edit' bhadata.pk %}?wellphase={{wellphase_id}}">  <span class="action-edit-well"><i class="feather icon-edit"></i> Edit</span></a>
                    <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% include "footer.html" %}
          </div>
         
          </div>
          <div class="col-2">
            {% include "userheader.html" %}
            <h4 class="model-caption">Well Phases</h4>
            {% for wellphase in wellphases %}
            <div class="row">
              <div class="col-12">
                <nav class="navbar bg-white phase-sidemenu">
                  <ul class="nav navbar-nav">
                    <li class="nav-item phs-list {% if request.session.wellphasetab == wellphase.id %}active{% endif %}">
                      <a class="nav-link" href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
                      <ul class="myDIV nav navbar-nav custom_active_list pressure-sidemenu {% if wellphase_id == wellphase.id %}show{% endif %}">
                        {% getsectionbywellphase_id wellphase.id as sections %}
                        {% for section in sections %}
                        <li data-id="{{section.section_name}}" wellphase_id="{{wellphase.id}}" class="wellphase_sidemenu remove-line">{{section.section_name | depthunit:request.session.unit}}</li>
                        {% endfor %}
                    </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          {% endfor %}
            <div class="col-md-12 warning"></div>
          </div>
        </div>
      </section>
      <style>
        .flex_table {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          /* width: 100% !important; */
        }
        .flex_table table {
          /* width: 100%; */
          margin: 10px;
          border: 1px solid #dfdfdf;
}
      </style>
      <script>
        var storedArray = JSON.parse(sessionStorage.getItem("items"));
      var well_id='{{well_id}}'
      if(well_id == storedArray[1]){
          $('.warning').show();
      }else{
          $('.warning').hide();
      }
      </script>
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/navigation.css' %}">
{% endblock %}
{% block scripts %}
{{block.super}}
<script src="{% static 'js/menuactive.js' %}"></script>

{%endblock%}



      

