.accordion-table {
    border: 1px solid #dfdfdf !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
   
}

.accordion-table th {
    border: 1px solid #dfdfdf !important;
    text-align: center;
    width:50%;
}

.accordion-style .accordion-button:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem #ffffff17;
}
.accordion-item.accord-box
{
    margin-bottom: 10px;
}
.accordion-style .accordion-item {
    margin: 10px auto 0px;
}

.accordion-style h5 {
    margin-bottom: 0px !important;
}

.accordion-style .accordion-button:not(.collapsed) {
    background-color: #ffffff !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/static/images/chevrondown.svg') !important;
}

.sub-accordion-style h5 {
    margin-bottom: 0px !important;
    /* color: #7c0201; */
    color: #bb1111;
    font-weight: 600;
}

.wells-name {
    text-align: center !important;
}

.wells-name h4 {
    font-weight: 600;
    padding: 25px 0px;
    margin-bottom: 0px !important;
    background: -webkit-linear-gradient( 181deg , #7c0201, #bb1111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px !important;
}

.accordion-substyle .accordion-button:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.25rem #ffffff17;
}

.accordion-substyle .accordion-item {
    margin: 10px auto 0px;
}

.accordion-substyle h5 {
    margin-bottom: 0px !important;
    color: #000;
    font-weight: 100 !important;
}

.accordion-substyle .accordion-button:not(.collapsed) {
    background-color: #7c020105 !important;
}

.accordion-color h4 {
    color: #bb1111 !important;
    font-weight: 600 !important;
    font-size: 1.25rem !important;
}

.activity-link a {
    color: #7c0201 !important;
}

.acti-vity{
    /* background-color: #004A7F; */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 16px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -moz-box-shadow: 0 0 16px #FF0000; }
    100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 16px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }
  
  @keyframes glowing {
    0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; box-shadow: 0 0 16px #FF0000; }
    100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  }

  a.acti-vity:hover {
    color: #fff;
}

  .accord-box{
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px !important;
    border:none !important; */
    margin-top:0px !important;
    
  }
/* 
  .count-sno {
    background: #800302;
    width: 24px;
    height: 24px;
    margin: 0px auto;
    border-radius: 50%;
    font-size: 15px;
    padding: 3px;
    color: #fff;
} */

.count-sno-well{
    background: #800302;
    width: 24px;
    height: 24px;
    margin: 0px auto;
    border-radius: 50%;
    font-size: 15px;
    padding: 3px;
    color: #fff !important;
}

.proj-rel{
    position: relative;
}

h5.proj-name-img {
    color: #a60201;
    font-weight: 600;
    margin-bottom: 0;
}
/* 
h5.proj-name-img:before {
    content: '';
    clear: both;
    height: 20px;
    width: 20px;
    display: block;
    background-image: url(/static/images/pro-gif.gif);
    position: absolute;
    left: 41%;
    transform: translateX(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 6px;

} */

.wells-rel{
    position: relative;
}

h5.wells-name-img{
    color: #a60201 !important;
    font-weight: 600 !important;
}
/* h5.wells-name-img:before {
    content: '';
    clear: both;
    height: 30px;
    width: 30px;
    display: block;
    background-image: url(/static/images/oil-pump.gif);
    position: absolute;
    left: 45%;
    transform: translateX(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 2px;
} */

.sno-head{
    color: #a60201;
    font-weight: 600;
    margin-bottom: 0;
}

.pro-name-desi{
  font-weight: 600;
  color:#000;
}
.acc-butt {
    justify-content: space-evenly;
}

/* .proj-dynamic-name:before{
    content: '';
    clear: both;
    height: 30px;
    width: 30px;
    display: block;
    background-image: url(/static/images/user-new.gif);
    position: absolute;
    left: 25px;
    transform: translateX(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 8px;
} */

.proj-dynamic-name{
    padding-left:30px;
}

/* paginations */
.pagination{
    justify-content: center;
    margin-top: 20px;
}
.step-links{
    display:flex !important;
    align-items: center;
}
.other-pages{
    display:flex !important;
    margin: 0px 5px;
}

a.pink {
    background: #830403;
    color: #fff;
    padding: 4px 15px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
}
.count-sno-pag{
    background: #800302;
    width: 24px;
    height: 24px;
    margin: 0px auto;
    border-radius: 50%;
    font-size: 15px;
    margin: 0px 4px;
    color: #fff;
    padding: 4px 0px;
    
}

.count-clr{
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0px 7px
}

h5.count-sno-white {
    background: #dddddd;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding-top: 1px;
    font-weight: 600;
    margin: 0px 5px;
}

span.page-number.current-page {
    padding: 0px 9px;
    color: #000;
}

a.pink:hover {
    color: #fff;
}

.count-clr:hover{
    color:#fff;
}
.search-bar {
        text-align: end; 
}

input#search-input:focus-visible {
    
    outline-color: #820303 !important;
    box-shadow:none;
}
#search-input{
    border-radius: 4px;
    box-shadow:none !important;
    padding:4px;
    border:1px solid #dfdfdf;
}
#search-input::placeholder{
    font-size:13px;
}
input#search-input
{
    width: 170px;
}
/* 
.accordion.accordion-style {
    width: 50% !important;
    margin: 0px auto;
} */
.well-tables-width{
    width:100% !important;
}

.accordion-button.ac-button:not(.collapsed)::after {
    background-image: none !important;
}
.accordion-button:not(.collapsed)
{
    box-shadow: none !important;
}
.ac-button {
    text-decoration: none !important;
}
.user-log-space {
    padding-bottom: 20px;
    overflow-y: scroll;
    max-height: 600px;
}
.user-log-space::-webkit-scrollbar {
    width: 4px;
    border-radius: 5px;
  }

  .user-log-space::-webkit-scrollbar-thumb {
    background: #ddd; 
  }
  
  .user-log-space::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }


/*responsive*/
@media (min-width:1550px){
    /* h5.proj-name-img:before {
        content: '';
        clear: both;
        height: 20px;
        width: 20px;
        display: block;
        background-image: url(/static/images/pro-gif.gif);
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 6px;
    
    } */
}

@media (min-width:1350px) and (max-width:1549px) {
    /* h5.proj-name-img:before {
        content: '';
        clear: both;
        height: 20px;
        width: 20px;
        display: block;
        background-image: url(/static/images/pro-gif.gif);
        position: absolute;
        left: 26%;
        transform: translateX(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 6px;
    
    } */
}

@media (min-width:1200px) and (max-width:1349px) {
    /* h5.proj-name-img:before {
        content: '';
        clear: both;
        height: 20px;
        width: 20px;
        display: block;
        background-image: url(/static/images/pro-gif.gif);
        position: absolute;
        left: 22%;
        transform: translateX(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 6px;
    
    } */
}

/* wells  */

@media (min-width:1450px) and (max-width:2000px){
    /* h5.wells-name-img:before {
        content: '';
        clear: both;
        height: 30px;
        width: 30px;
        display: block;
        background-image: url(/static/images/oil-pump.gif);
        position: absolute;
        left: 37%;
        transform: translateX(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 2px;
    } */
}

@media (min-width:1200px) and (max-width:1449px){
    /* h5.wells-name-img:before {
        content: '';
        clear: both;
        height: 30px;
        width: 30px;
        display: block;
        background-image: url(/static/images/oil-pump.gif);
        position: absolute;
        left: 33%;
        transform: translateX(-50%);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        top: 2px;
    } */
}

/* search */
