{% extends "base.html" %}
{% block content %}
{% load static %}
<section id="data-list-view" class="data-list-view-header create_well_pg">
  <div class="row align-items-start">
    <div class="col-md-12  create-pg">
      <div class="create_project_sec scroll-line">
        {% include "header.html" %}
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Add Well User</h4>
          </div>
          <div class="card-body">
            <form class="form form-horizontal" method="POST">
                {% csrf_token %}

              <div class="row">
              <input type="hidden" name="well" value="{{well_id}}">
              <input type="hidden" name="role" value="4">

                <div class="col-12">
                    <div class="form-group row align-items-center">
                      <div class="col-sm-1 col-form-label">
                        <label class="project-edit-name" for="email-id">User</label>
                      </div>

                      
        
                      <div class="col-sm-11">
                          <select class="form-control" id="wellmanager" name="well_user" multiple="multiple">

                              <option value="">-- User Name --</option>

                              {% for user in users %}
                              {% if user.id in current_selected_user %}
                              <option value="{{ user.id }}" selected>{{ user.name }} {{user.lastname}}</option>
                              {% else %}
                                  <option value="{{ user.id }}">{{ user.name }} {{user.lastname}}</option>
                              {% endif %}
                              {% endfor %}

                          </select>
                  
                  </div>
                </div>
                  
                  <div class="col-sm-12 text-center">
                  <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light detail-button">Submit</button>
                  <button type="reset" class="btn btn-primary waves-effect detail-button-reset detail-button">Reset</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scripts %}
{{block.super}}

<script src="{% static 'js/projects/projectusercreate.js' %}"></script>

{%endblock%}