<footer class="footer footer-static footer-light footer-ui">
    <p style="text-align:center;" class="clearfix blue-grey lighten-2 mb-0"><span class=" d-block d-md-inline-block mt-25">Copyright &copy; 2021<a class="text-bold-800 grey darken-2" href="https://iwellsmc.com/" target="_blank">iWells Integrated Management Consultants DMCC,</a>All rights Reserved</span>
        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="feather icon-arrow-up"></i></button>
    </p>
</footer>