{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}

<section id="data-list-view" class="data-list-view-header">
  <div class="container-fluid">
  <!-- <div class="row" id="basic-table"> -->
    <div class="row align-items-start common-row-space">
      {% getcountries countries as countries %}
      {% include "projectsidemenu.html" %}
      <div class="col-md-12 p-0  create-pg main-section col-md-10">
      <div class="create_project_sec_well scroll-line new-cru-well">
        {% comment %} <div class="well-name-list">{{well.name}}</div>
        <button class="hide-show fa fa-long-arrow-right"></button> {% endcomment %}
      {% include "projectheader.html" %}
    <div class="col-12 p-0">
      {% include "welldetails_menu.html" %}    
    </div>
    <div class="col-12 p-0">
      {% include "welldetailssubmenu.html" %}  
    </div>
    <div class="col-12 p-0">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Well Phase</h4>
          </div>
          <div class="card-body">
            <form class="form form-horizontal" name="wellphase_form" method="POST">
                {% csrf_token %}
                <input type="hidden" id="well" class="form-control" name="well" value="{{well_id}}">

              <div class="row">
                <div class="col-12">
                    <table class="table table-borderless" id="wellphasesaddtable">
                      <tr><th>Phase Name</th><th>Casing Type</th><th>Hole Size{%display_diameterunit request.session.unit%}</th><th>Casing Size{%display_diameterunit request.session.unit%}</th><th>MD({%display_depthunit request.session.unit%})</th><th>TVD({%display_depthunit request.session.unit%})</th><th>Liner Top ({%display_depthunit request.session.unit%})</th><th>Actions</th></tr>

                      {% for wellphase in wellphases %}

                        <tr id="wellphasetableRow" class='wellphase_row'>
                        <input type="hidden" name="wellphase_id" value={{wellphase.id}}>
                        <td class="new-one"><input type="text" id="phase_name" class="form-control" name="phase_name" placeholder="Phase Name" value="{{wellphase.phase_name}}"><span id="phasename_error" class="phase_name_error"></span></td>
                        <td class="new-one">
                            <select class="form-control casing_type" id="casing_type" name="casing_type">
                              <option value="">-- Casing Type --</option>
                              {% for casing_type in casingtypes %}
                              <option value="{{casing_type.id}}" {%if casing_type.id == wellphase.casing_type.id %} selected {% endif %}>{{casing_type.name}}</option>
                              {% endfor %}
                            </select>
                            <span class="casing_type_error"></span>
                        </td>
        
                          <td><input type="number" step="any" id="hole_size" class="form-control hole_size" name="hole_size"  value="{{wellphase.hole_size}}"><span class="hole_size_error"></span></td>
                          <td>
                            <input type="hidden" name="nominal_od" class="nominal_od" value="{{wellphase.nominal_od|default_if_none:''}}">
                            <input type="hidden" name="weight" class="weight" value="{{wellphase.weight|default_if_none:''}}">
                            <input type="hidden" name="wellphase_grade" class="wellphase_grade" value="{{wellphase.grade|default_if_none:''}}">
                            <input type="hidden" name="wellphase_connection_type" class="wellphase_connection_type" value="{{wellphase.connection_type|default_if_none:''}}">
                            <input type="hidden" name="wellphase_range" class="wellphase_range" value="{{wellphase.casing_range|default_if_none:''}}">
                            <input type="hidden" name="driftid" class="driftid" value="{{wellphase.drift_id|default_if_none:''}}">
                            <input type="number" step="any" id="casing_size" class="form-control casing_size" name="casing_size"  value="{{wellphase.casing_size|default_if_none:''}}">
                            <span class="casing_size_error"></span>
                          </td>
        
                  <td><input type="number" step="any" id="measured_depth" class="form-control measured_depth" name="measured_depth"  value="{{wellphase.measured_depth}}"><span class="md_error"></span></td>
                  <td><input type="number" step="any" id="true_vertical_depth" class="form-control true_vertical_depth" name="true_vertical_depth"  value="{{wellphase.true_vertical_depth}}"><span class="tvd_error"></span></td>
                  <td>
                    {% if wellphase.lineartop == None %}
                    <input type="number" step="any"  id="lineartop" class="form-control linertop" name="lineartop"  value="{{wellphase.lineartop}}" readonly>
                    {%else%}
                    <input type="number" step="any"  id="lineartop" class="form-control linertop" name="lineartop"  value="{{wellphase.lineartop}}" >
                    {%endif%}
                  </td>
                        
                  <td class="well-act">
                    <button type="button" name="add" class="addwellphasesrows iconaction"><i class="fa fa-plus"></i></button>
                    <button type="button" name="add" value="Remove" class="deletewellphasesrow iconaction"><i class="fa fa-trash"></i></button>
                  </td> 
                </tr>
                        {% endfor %}
                  <tr id="wellphasetableRow2" calss="wellphasetableRow2" style="display:none">
                          <input type="hidden" name="wellphase_id">
                          <td><input type="text" id="phase_name" class="form-control" name="phase_name" placeholder="Phase Name" value="{{wellphase.phase_name}}"><span id="phasename_error" class="phase_name_error"></span></td>
                          <td>
                              <select class="form-control casing_type" id="casing_type" name="casing_type">
                                <option value="">-- Casing Type --</option>
                                {% for casing_type in casingtypes %}
                                <option value="{{casing_type.id}}" {%if casing_type.id == wellphase.casing_type.id %} selected {% endif %}>{{casing_type.name}}</option>
                                {% endfor %}
                              </select>
                              <span class="casing_type_error"></span>
                          </td>
                            
                            <td><input type="number" step="any" id="hole_size" class="form-control hole_size" name="hole_size" placeholder="Hole Size"  value="{{wellphase.hole_size}}"><span class="hole_size_error"></span></td>
                            <td>
                              <input type="hidden" name="nominal_od" class="nominal_od">
                              <input type="hidden" name="weight" class="weight">
                              <input type="hidden" name="wellphase_grade" class="wellphase_grade">
                              <input type="hidden" name="wellphase_connection_type" class="wellphase_connection_type">
                              <input type="hidden" name="wellphase_range" class="wellphase_range">
                              <input type="hidden" name="driftid" class="driftid">
                              <input type="number" step="any" id="casing_size" class="form-control casing_size" name="casing_size" placeholder="Casing Size" value="{{wellphase.casing_size}}">
                              <span class="casing_size_error"></span>
                            </td>
          
                          <td><input type="number" step="any" id="measured_depth" class="form-control measured_depth" name="measured_depth" placeholder="MD" value="{{wellphase.measured_depth}}"><span class="md_error"></span></td>
                          <td><input type="number" step="any" id="true_vertical_depth" class="form-control true_vertical_depth" name="true_vertical_depth" placeholder="TVD" value="{{wellphase.true_vertical_depth}}"><span class="tvd_error"></span></td>
                          <td><input type="number" step="any" id="lineartop" class="form-control linertop" name="lineartop" placeholder="Liner Top" value="{{wellphase.lineartop}}"><span class="lineartop_error"></span></td>
                          
                      <td>
                        <button type="button" name="add" value="Add" class="addwellphasesrows iconaction"><i class="fa fa-plus"></i></button>
                  <button type="button" name="add" value="Remove" class="deletewellphasesrow iconaction"><i class="fa fa-trash"></i></button>
                      </td> 
                  </tr>
                    </table>
                </div>

                <!-- <div class="col-12">
                    <button type="button" class="btn btn-outline-secondary pull-right addwellphasesrow">Add Row</button>
                  </div> -->
                  <div class="col-sm-12 common-txt-center">
                  <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light detail-button wellphase_submit">Submit</button>
                </div>
                <div class="col-sm-12">
                  <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
                </div>


              </div>
            </form>
          </div>
        </div>
   </div>

   <div class="modal fade casingmaster-popup-edit" id="casingmaster-popup-edit">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Casing</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        

        <div class="container">
          <div id="accordion" class="accordion">
              <div class="card mb-0">
                  <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne"  aria-expanded="false" aria-controls="collapseOne">
                      <a class="card-title add-crd">
                          ADD
                      </a>
                  </div>
                  <div id="collapseOne" class="card-body collapse" data-parent="#accordion" >
                    <div class="col-12">
   
                      <div class="card">
                        
                        <div class="card-header">
                          <h4 class="card-title table-title">Create Casing Masters</h4>
                        </div>
                        <form method="post" id="casingmasterform" novalidate>
                            {% csrf_token %}              
                            <div class="row">
                              <div class="col-2 label fw-bold pl-30">
                                Units
                              </div>
                              <div class="col-3">
                                <select name="unit" id="unit" class="form-control casingmaster-unit">
                                  <option value="">Select</option>
                                  <option value="API">API</option> 
                                  <option value="SI">SI</option> 
                                </select>
                              </div>
                              
                              <div class="col-2 pr-30">
                                <!-- <a class="btn btn-primary waves-effect ml-1 waves-float waves-light pull-right detail-button" href="{% url 'wellphases:importdata' %}"><span class="action-create-well"><i class="feather "></i>Import</span></a> -->
                               </div>
                                <div class="col-12 mt-3">
                                    <table class="table" id="casingmastertable">             
                                        <thead><tr><th>Nominal OD</th><th>Weight</th>
                                          <th><span>Inside Diameter</span> </th>
                                          <th>Connection Type</th><th>Connection OD</th><th>Drift ID</th>
                                          </tr>
                                        <tr></thead>
                                          <tbody>
                                            <td><input id="nominal_od" type="text" class="form-control nominal_od" name="nominal_od" placeholder="Nominal OD" ></td>
                                            <td><input id="weight" type="text" class="form-control weight" name="weight" placeholder="Type" ></td>
                                            <td><input id="inside_diameter" type="text" class="form-control inside_diameter" name="inside_diameter" placeholder="Inside Diameter" ></td>
                                            <td>
                                              <input id="connection_type" type="text" class="form-control connection_type" name="connection_type" placeholder="Connection Type" >
                                            </td>
                                            <td>
                                              <input id="connection_od" type="text" class="form-control connection_od" name="connection_od" placeholder="Connection OD" >
                                            </td>
                                            <td><input type="text" name="driftid" id="drift_id" class="form-control driftid"  placeholder="Drift ID"></td>
                                            <!-- <td>
                                              <a type="button" class="casingmaster_addrow iconaction"><i class="fa fa-plus"></i></a>
                                              <a type="button" class="casingmaster_removerow iconaction"><i class="fa fa-trash"></i></a>
                                            </td>         -->
                                        </tr>
                                        <tr id="casingmaster_addrow" style="display:none">
                                          <td><input id="nominal_od" type="text" class="form-control nominal_od" name="nominal_od" placeholder="Nominal OD" ></td>
                                          <td><input id="weight" type="text" class="form-control weight" name="weight" placeholder="Type" ></td>
                                          <td><input id="inside_diameter" type="text" class="form-control inside_diameter" name="inside_diameter" placeholder="Inside Diameter" ></td>
                                          <td>
                                            <input id="connection_type" type="text" class="form-control connection_type" name="connection_type" placeholder="Connection Type" >
                                          </td>
                                          <td>
                                            <input id="connection_od" type="text" class="form-control connection_od" name="connection_od" placeholder="Connection OD" >
                                          </td>
                                          <!-- <td>
                                            <a type="button" class="casingmaster_addrow iconaction"><i class="fa fa-plus"></i></a>
                                            <a type="button" class="casingmaster_removerow iconaction"><i class="fa fa-trash"></i></a>
                                          </td>-->
                                      </tr>
                                    </tbody>  
                                    </table>
                                    <div class="col-sm-9 offset-sm-3">
                                    
                                    <button type="button" id="submit" class="btn btn-primary detail-button pull-right mr-2 ">submit</button>
                            </div>
                      </form>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>


        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table">
                <thead class="text-center">
                    <tr>      
                        <center><h2>Select Values</h2></center>
                    </tr>
                </thead>
                <tr><th>OD{%display_diameterunit request.session.unit%}</th><th>Weight({%display_weightunit request.session.unit%})</th><th>Grade</th><th>Connection Type</th><th>Range</th></tr>
                <tbody>
                    <tr>
                      <td>
                        <select class="form-control nominal_od casing_nominal_od" id="nominal_od" name="nominal_od">
                          <option value="">--OD--</option>
                          {% for casing_data in casing %}
                          <option databasevalue="{{casing_data.databasevalue}}" value="{{casing_data.nominal_od}}">{{casing_data.nominal_od}}</option>
                          {% endfor %}
  
                        </select>
                        <span class="casing_od_error"></span>
                      </td>
                      <td>
                        <select class="form-control casing_weight" id="casing_weight" name="casing_weight">
                          <option value="">-- Weight --</option>
                        </select>
                        <span class="casing_weight_error"></span>
                      </td>
                      <td>
                        <select name="grade" class="form-control grade" id="grade">
                          <option value="">Select</option>
                          <option value="K 55">K 55</option> 
                          <option value="L 80">L 80</option>
                          <option value="N 80">N 80</option>
                          <option value="C 90">C 90</option>
                          <option value="T 95">T 95</option>
                          <option value="P 110">P 110</option>
                          <option value="Q 125">Q 125</option>
                          {% for grade in casinggrade %}
                          <option value="{{grade.grade_name}}">{{grade.grade_name}}</option>
                          {% endfor %}
                          <option value="others">Others</option>
                          
                        </select>
                        <span class="casing_grade_error"></span>
                      </td>
                      <td>
                        <select class="form-control connection_type" id="connection_type" name="connection_type">
                          <option value="">-- Connection Type --</option>
                          
                        </select>
                        <span class="casing_type_error"></span>
                      </td>
                     <td>
                        <select name="casing_range" class="form-control casing_range" id="casing_range">
                          <option value="">Select</option>
                          <option value="25">25  {%display_depthunit request.session.unit%}</option> 
                          <option value="34">34 {%display_depthunit request.session.unit%}</option>
                          <option value="45">45 {%display_depthunit request.session.unit%}</option>
                          {% for range in casingrange %}
                          <option value="{{range.range_name}}">{{range.range_name}} {%display_depthunit request.session.unit%}</option>
                          {% endfor %}
                          <option value="others">Others</option>
                        </select>
                        <span class="casing_range_error"></span>
                    </td>
                    <!-- <td>
                      <input type="text" name="drift_id" class="form-control" id="drift_id">
                    </td> -->
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger popup-close detail-button casing_close" >Close</button>
        </div>
        
      </div>
    </div>
    </div>
    </div>
    </div>
    {% include "footer.html" %}
    </div>
  <!-- <div class="col-md-2">
    {% include "userheader.html" %}
    <div class="col-md-12 warning"></div>
</div> -->
<div class="col-md-12 warning"></div>



</div> 
    </section>
<style>
.environment-fields,.sub-environment-fields
{
  display: none;
}

.iconaction
{
  border:0;
  background:transparent;
  box-shadow:none;
  font-size:15px;
  color:#7367F0;
}
</style>
<script src="{% static 'js/allvalidation.js' %}"></script>
<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
<script>
  $(function(){
    $('.collapsed').on('click', function(){
      let collapsedcont = $(this).attr('href');
      $(collapsedcont).toggle();
    });
  });
  var well_id='{{well_id}}';

  $(".wellphasetableRow2").validate({
    rules: {
      phase_name:"required",
      casing_type:"required",
      hole_size:"required",
      casing_size:"required",
      measured_depth:"required",
      true_vertical_depth:"required",
      lineartop:"required",
    },
    messages: {
      phase_name:"Please enter the Phase Name",
      casing_type:"please select the  Casing Type",
      hole_size:"Please enter the Hole Size",
      casing_size:"Please enter the Casing Size",
      measured_depth:"Please enter the MD",
      true_vertical_depth:"Please enter the TVD",
      lineartop:"Please enter the Linear Top",
    }
  });
  $(document).on("change", ".casing_type" , function() {
    var closesttrindex;
    $('.lineartop').hide();
    closesttrindex=$(this).closest('tr').index();
     if ($(this).val()==11 || $(this).val()==12 || $(this).val()==7 || $(this).val()==8)
     {
       $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('#lineartop').show();
     }
     else{
       $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('#lineartop').hide();
     }     
   });

  $(document).on("blur", ".measured_depth" , function() {  
  measured_depth = $(this).val();
  var current_element=$(this);
  $.ajax({
      type: "GET",
      url:"/wells/wellphases/getmdtvd",
      data: {
        data : measured_depth,
        type :"md",
        well_id:well_id

      },
      success: function(data) { 
        current_element.closest('tr').find('.true_vertical_depth').val(data);
      }
  });
  });
  $(document).on("blur", ".true_vertical_depth" , function() {  
  true_vertical_depth = $(this).val();
  var current_element=$(this);
  $.ajax({
      type: "GET",
      url:"/wells/wellphases/getmdtvd",
      data: {
        data : true_vertical_depth,
        type :"tvd",
        well_id:well_id

      },
      success: function(data) { 
        current_element.closest('tr').find('.measured_depth').val(data);
      }
  });
  
  });
  var closesttrindex;
  $(document).on("click", ".casing_size" , function() {  
    closesttrindex=$(this).closest('tr').index();
    var casing_type = $(this).closest('tr').find('.casing_type').val(); 
    if(casing_type != 13){
      $('.casingmaster-popup-edit').modal('show');
    }
  });
  $(document).on("click", ".popup-close" , function() { 
    $('.casing_nominal_od').val('');
    $('.casing_weight').val('');
    $('.grade').val('');
    $('.connection_type').val('');
    $('.casing_range').val('');
    $('.casingmaster-popup-edit').modal('hide');
  });

  $(".casing_nominal_od").change(function () { 
    var nominal_od_val = $(this).val();
      var nominal_od = $(this).find(':selected').attr('databasevalue');
      var hole_size=$('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.hole_size').val();
      var casing_type=$('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.casing_type').val();
      var well_id = $('#well').val();
      if(parseFloat(hole_size) < parseFloat(nominal_od_val)){
        if(casing_type!=2){
          alert("Hole size is greater then casing size");
          $(this).val("");
          return false;
        }
        
      }else{
        
        $.ajax({ 
        type: "GET",                      
        url: "/wells/wellphases/getcasingweight",                    
        data: {
          nominal_od:nominal_od,
          well_id:well_id
        },
        dataType: "json",
        success: function (data) {   
          $(".casing_weight option").remove();
          $('.casing_weight').append('<option value="">Weight</option>');
          for(i=0;i<data.data.length;i++){
          $('.casing_weight').append('<option databasevalue="'+data.data[i].databasevalue+'" value="'+data.data[i].weight +'">'+ data.data[i].weight+'</option>');
          }
          $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.casing_size').val(nominal_od_val);
          $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.nominal_od').val(nominal_od_val);
        }
      });
      }

  });
  $("#casing_weight").change(function () { 
   var casing_weight = $('#casing_weight').find(':selected').attr('databasevalue');  
   var casing_weight_val = $(this).val();  
   var nominal_od = $('.nominal_od').find(':selected').attr('databasevalue');
   $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.weight').val(casing_weight_val);
   $.ajax({ 
     type: "GET",                      
     url: "/wells/wellphases/getcasing_connection_type",                    
     data: {
      casing_weight:casing_weight,
      nominal_od:nominal_od
     },
     dataType: "json",
     success: function (data) {   
      $(".connection_type option").remove();
      $('.connection_type').append('<option value="">Connection Type</option>');
      for(i=0;i<data.data.length;i++){
        $('.connection_type').append('<option value="'+data.data[i].connection_type +'">'+ data.data[i].connection_type+'</option>');
      }
   }
 
   });
 });
 $("#nominal_od").change(function () { 
    var nominal_od = $(this).val();
      var hole_size=$('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.hole_size').val();
      console.log(nominal_od);
      console.log(hole_size);

      if(hole_size<=nominal_od){
        alert("Hole size is greater then casing size");
        $(this).val("");
        return false;
      }else{
        $.ajax({ 
        type: "GET",                      
        url: "/wells/wellphases/getcasingweight",                    
        data: {
          nominal_od:nominal_od
        },
        dataType: "json",
        success: function (data) {   
          $(".casing_weight option").remove();
          $('.casing_weight').append('<option value="">Weight</option>');
          for(i=0;i<data.data.length;i++){
          $('.casing_weight').append('<option value="'+data.data[i].weight +'">'+ data.data[i].weight+'</option>');
          }
          // alert(nominal_od);
          // alert($('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.casing_size').val());

          $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.casing_size').val(nominal_od);
          $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.nominal_od').val(nominal_od);
        }
      });
      }
  });
  $(document).on("blur", ".others_grade" , function() { 
  var csrf =$('.getcsrf').val();
  others_grade=$(this).val();
  var current_element=$(this);
  if(others_grade!=''){
  $.ajax({ 
     type: "POST",                      
     url: "/wells/wellphases/insertgrade",                    
     data: {
      grade:others_grade,
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
     },
     dataType: "json",
     success: function (data) {   
       console.log(data.status);
       if(data.status=="true"){
        if(current_element.closest('td').find('.grade option[value="'+others_grade+'"]').length==0){
          current_element.closest('td').find('.grade option').eq(3).before($("<option selected></option>").val(others_grade).text(others_grade));
          $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.wellphase_grade').val(others_grade);

        }
       }
    }
 
   });
  }
});
$(document).on("blur", ".others_range" , function() { 
  others_range=$(this).val();
  var current_element=$(this);
  if(others_range!=''){
  $.ajax({ 
     type: "GET",                      
     url: "/wells/wellphases/insertrange",                    
     data: {
      range:others_range,
     },
     dataType: "json",
     success: function (data) {   
       if(data.status=="true"){
          if(current_element.closest('td').find('.casing_range option[value="'+others_range+'"]').length==0){
            current_element.closest('td').find('.casing_range option').eq(3).before($("<option selected></option>").val(others_range).text(others_range));
            $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.wellphase_range').val(others_range);
          }
       }
    }
   });
  }
});
$("#grade").change(function () { 
   var grade = $(this).val();  
   $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.wellphase_grade').val(grade);
 });
 $("#connection_type").change(function () { 
   var grade = $(this).val();  

   $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.wellphase_connection_type').val(grade);
 });
 $("#casing_range").change(function () { 
   var grade = $(this).val();  
   $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.wellphase_range').val(grade);
 });
 $("#drift_id").blur(function () { 
   var drift_id = $(this).val();  
   $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.driftid').val(drift_id);
 });

 $(document).on("click", "#submit" , function() { 
  
  var csrf =$('.getcsrf').val();
  var unit=$("#unit").val();
  var nominal_od=$("#nominal_od").val();
  var weight=$("#weight").val();
  var inside_diameter=$("#inside_diameter").val();
  var connection_type=$("#connection_type").val();
  var connection_od=$("#connection_od").val();
  var drift_id=$("#drift_id").val();
  $.ajax({ 
     type: "POST",                      
     url: "/wells/wellphases/wellphase_casing",                    
     data: {
      unit:unit,
      nominal_od:nominal_od,
      weight:weight,
      inside_diameter:inside_diameter,
      connection_type:connection_type,
      connection_od:connection_od,
      drift_id:drift_id,
      csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
     },
     dataType: "json",
     success: function (data) {   
       console.log(data);
      var html='<option value="">Nominal OD</option>';
        for(i=0;i<data.data.length;i++){
        html +='<option value="'+data.data[i].nominal_od +'" databasevalue="'+data.data[i].nominal_od +'">'+ data.data[i].nominal_od+'</option>';
        }
        console.log(html);
        $('.casing_nominal_od').html(html);
        $("#collapseOne").css("display", 'none');
    }
   });
});
$('.connection_type').change(function(){
  var od=$(".casing_nominal_od").find(':selected').attr('databasevalue');
  var weight=$("#casing_weight").find(':selected').attr('databasevalue');
  var well_id=$("#well").val();
  var connection_type=$(this).val();
  $.ajax({
    type: "GET",
    data:{
      od:od,
      weight:weight,
      connection_type:connection_type,
      well_id:well_id
    },
    url:"/wells/wellphases/getcasing_driftID",
    success: function(data) {
      var drift_id=data.data[0].nominal_od;
      $('#wellphasesaddtable tbody tr:eq('+closesttrindex+')').find('.driftid').val(drift_id);


    }
  });
});
var storedArray = JSON.parse(sessionStorage.getItem("items"));
    var well_id='{{well_id}}'
    if(well_id == storedArray[1]){
      $('.warning').show();
    }else{
      $('.warning').hide();
    }
</script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/navigation.css' %}">

<script src="{% static 'js/menuactive.js' %}"></script>
{% endblock %}