{% extends "base.html" %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
{% load app_filters %}

  
<section>
  <div class="container-fluid">
    <div class="row" id="">
      <div class="col-md-12  create-pg">
        <div class="create_project_sec scroll-line">
          {% include "header.html" %}
     <div class="col-12">
      {% include "masters_menu.html" %}  
     </div>
        <div class="col-12 p-0">
 
          <div class="card">
            
            <div class="card-header">
              <h4 class="card-title">HWDP Create</h4>
            </div>
            <div class="card-body">
              <form method="post" id="drillHWDPform" novalidate>
                {% csrf_token %}              
                <div class="row"><div class="col-12">
                        <div class="form-group row">
                          <div class="col-sm-1 col-form-label">
                            <label for="well_phase">Unit</label>
                          </div>
                          <div class="col-4">
                            <select name="unit" class="form-control select2 casingmaster-unit">
                              <option value="">Select</option>
                              <option value="API">API</option> 
                              <option value="SI">SI</option> 
                            </select>
                          </div>
                          <div class="col-7">
                            <a class="btn btn-primary waves-effect ml-1 waves-float waves-light pull-right detail-button" href="{% url 'bhadata:HWDPimportdata' %}">  <span class="action-create-well"><i class="feather "></i>Import</span></a>
                              </div>
                      </div>
                        <table class="table table-borderless" id="drillHWDPtable">             
                            <tr><th>Nominal OD</th><th>Class</th><th>Pipe OD{%display_diameterunit request.session.unit%}</th><th>Weight</th><th>Pipe ID{%display_diameterunit request.session.unit%}</th><th>Connection type</th><th>Tool OD{%display_diameterunit request.session.unit%}</th><th>Tool ID{%display_diameterunit request.session.unit%}</th><th>Box Length{%display_lengthunit request.session.unit%}</th><th>Pin Length{%display_lengthunit request.session.unit%}</th><th>Actions</th></tr>
                            <tr id="drillHWDProw">
                                <td><input id="nominal_od" type="text" class="form-control" name="nominal_od" placeholder="Nominal OD" ></td>
                                <td><input id="class_type" type="text" class="form-control" name="class_type" placeholder="Type" ></td>
                                <td><input id="pipebody_od" type="text" class="form-control" name="pipebody_od" placeholder="Pipe OD" ></td>
                                <td><input id="weight" type="text" class="form-control" name="weight" placeholder="Weight" ></td>
                                <td><input id="pipebody_id" type="text" class="form-control" name="pipebody_id" placeholder="Pipe ID" ></td>
                                <td><input id="connection_type" type="text" class="form-control" name="connection_type" placeholder="Connection type" ></td>
                                <td><input id="tool_od" type="text" class="form-control" name="tool_od" placeholder="Tool OD" ></td>
                                <td><input id="tool_id" type="text" class="form-control" name="tool_id" placeholder="Tool ID" ></td>
                                <td><input id="box_length" type="text" class="form-control" name="box_length" placeholder="Box Length" ></td>
                                <td><input id="pin_length" type="text" class="form-control" name="pin_length" placeholder="Pin Length" ></td>
                                <td>
                                    <a type="button" name="add" id="iconaction" class="drillHWDPaddrow iconaction"><i class="fa fa-plus"></i></a>
                                    <a type="button" name="removerow" id="iconaction" class="drillHWDPremoverows iconaction"><i class="fa fa-trash"></i></a>
                                </td>        
                            </tr>
                            <tr id="drillHWDProw2" style="display:none">
                              <td><input id="nominal_od" type="text" class="form-control" name="nominal_od" placeholder="Nominal OD" ></td>
                              <td><input id="class_type" type="text" class="form-control" name="class_type" placeholder="Type" ></td>
                              <td><input id="pipebody_od" type="text" class="form-control" name="pipebody_od" placeholder="Pipe OD" ></td>
                              <td><input id="weight" type="text" class="form-control" name="weight" placeholder="Weight" ></td>
                              <td><input id="pipebody_id" type="text" class="form-control" name="pipebody_id" placeholder="Pipe ID" ></td>
                              <td><input id="connection_type" type="text" class="form-control" name="connection_type" placeholder="Connection type" ></td>
                              <td><input id="tool_od" type="text" class="form-control" name="tool_od" placeholder="Tool OD" ></td>
                              <td><input id="tool_id" type="text" class="form-control" name="tool_id" placeholder="Tool ID" ></td>
                              <td><input id="box_length" type="text" class="form-control" name="box_length" placeholder="Box Length" ></td>
                              <td><input id="pin_length" type="text" class="form-control" name="pin_length" placeholder="Pin Length" ></td>
                              <td>
                                  <a type="button" name="add" id="iconaction" class="drillHWDPaddrow iconaction"><i class="fa fa-plus"></i></a>
                                  <a type="button" name="removerow" id="iconaction" class="drillHWDPremoverows iconaction"><i class="fa fa-trash"></i></a>
                              </td>        
                          </tr>
                            
                        </table>
                        <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary detail-button">submit</button>
                        <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
                </div>
          </form>
            </div>
           
          </div>
        </div>
        {% include "footer.html" %}
        </div>
        </div>
        <!-- <div class="col-md-2">
          {% include "userheader.html" %}
      </div> -->
      </div>

    </div>
  </section>
<style>
  #iconaction
{
  border:0;
  background:transparent;
  box-shadow:none;
  font-size:15px;
  color:#7367F0;
}
</style>
{% endblock %}