/******************** createprojectusers ********************/
.user-label {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 1.5 !important;
    text-align: end;
}
.user-label label {
    color: #7c0201 !important;
    font-size: 24px !important;
    font-weight: 400 !important;
    padding: 0 !important;
}

#select-data .select2-selection.select2-selection--multiple {
    border-color: #7c0201 !important;
   
}

#select-data .select2-selection__choice {
    background-color: #bb1111 !important;
    border-color: #bb1111 !important;
    margin-top: 2px !important;
}

#select-data .select2-selection__rendered {
    margin: 5px auto 0px !important;
}

#select-data .select2-search__field {
    margin-top: 3px !important;
}

/******************** createprojectusers ********************/