{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}
{% load custom_auth_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/User/list_view.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/auth.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/user-rights/user_rights.css' %}">

<section id="data-list-view" class="data-list-view-header user_rights_pg">


    {% include "header.html" %}
 <form action="{% url 'custom_auth:usercreate' %}" method="post" id="adduserform" name="adduserform">
                {% csrf_token %} 
            <div class="table-responsive table-hover table-striped user-table-lists">
                <div class="table-title" style="caption-side: top"><h1 class="table-common text-center">User Rights</h1></div>
                <div class="users-list">
                    <table class="table userrights-table">
                        <tbody>
                            <tr>
                                <td>Select All</td>
                                <td>
                                    <span class="round">
                                        <input type="checkbox" class="user_rights poaselect_all">
                                        <label for="checkbox" class="rou-label"></label>
                                    </span>
                                </td>
                            </tr> 
                            {% for value in user_modules %}
                            <tr>
                                <td>{{value.name}}</td>
                                <td>
                                    

                                    <span class="round">
                                        <input type="checkbox" class="user_rights" name="rights{{value.id}}" value="{{value.id}}">
                                        <label for="checkbox" class="rou-label"></label>
                                    </span>
                                </td>
                         
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="user-rights-btn">
                    <button  class="btn btn-primary  btn-inline detail-button mt-3 rights-submit">Submit</button>
                </div>

            </div>
    
    </section>

<section id="data-list-view" class="data-list-view-header clientadmincreateuser">
    <div class="container-fluid">
    <div class="row align-items-start common-row-space">
       
        <div class="col-md-12 p-0 create-pg">
        <div class="create_project_sec scroll-line new-cru-well">
           
            {% include "header.html" %}

<div class="card card-create-user">
            <div class="div mt-2 px-2 d-flex new-data-title justify-content-center">
                <div>
                    <h3 class="form-title table-title create_hed" >Create User</h3>
                </div>
   
            </div>
            <input type="hidden" name="type_of_service" value="{{type_of_service}}">
            <div class="data-items pb-3">
                <div class="data-fields px-2 mt-2">
                    <div class="row">
                        <div class="col-sm-4 data-field-col required-field">
                            <label class="project-edit-name pb-1" for="data-name">Title</label>
                            <select name="title" class="form-control req-field" id="gender">
                                <option value="">Select</option>
                                <option value="Mr">Mr</option>
                                <option value="Miss">Miss</option>
                                <option value="Mrs">Mrs</option>
                            </select>
                        </div>
                        <input type="hidden" name="type_of_service" value="{{type_of_service}}">
                        <div class="data-items pb-3">
                            <div class="data-fields px-2 mt-2">
                                <div class="row">
                                    <div class="col-sm-4 data-field-col required-field">
                                        <label class="project-edit-name pb-1" for="data-name">Title</label>
                                        <select name="title" class="form-control req-field" id="gender">
                                            <option value="">Select</option>
                                            <option value="Mr">Mr</option>
                                            <option value="Miss">Miss</option>
                                            <option value="Mrs">Mrs</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 data-field-col required-field">
                                        <label class="project-edit-name pb-1" for="data-name">First Name</label>
                                        <input type="text" class="form-control req-field" onkeypress="return /^[a-zA-Z\s]*$/i.test(event.key)" id="name" name="name">
                                    </div>
                                    <div class="col-sm-4 data-field-col required-field">
                                        <label class="project-edit-name pb-1" for="data-name">Last Name</label>
                                        <input type="text" class="form-control req-field" onkeypress="return /^[a-zA-Z\s]*$/i.test(event.key)" id="last_name" name="lastname">
                                    </div>
                                </div>
                                <div class='row' style='margin-top:20px'>
                                    <div class="col-sm-4 data-field-col required-field">
                                        <label class="project-edit-name pb-1" for="data-name">Email</label>
                                        <input type="email" class="form-control req-field email-field" id="email" name="email" autocomplete="off">
                                    </div>

                                    <div class="col-sm-4 data-field-col required-field">
                                        <label class="project-edit-name pb-1" for="data-name">Designation</label>
                                        <input type="text" class="form-control req-field" id="designation" name="designation" autocomplete="off" >
                                    </div> 
                                    
                                    {% if not type_of_service %}
                                        {% if request.user.licence_type != 'Individual' %}
                                        {% user_rights_permission 'Change User Type' request as checkpermission %}


                                        <div class="col-sm-4 data-field-col required-field">
                                            <label class="project-edit-name pb-1" for="data-name">Role</label>
                                            <select class="custom-select req-field" id="group" name="group" >
                                                <option value="">---Select Role---</option>
                                                {% for val in groups %}
                                                    <option value="{{ val.id }}">{{ val.name }}</option>
                                                {% endfor %}
                                                <option value="new">Custom</option>

                                            </select>
                                        </div>

                                        <div class="col-sm-12 data-field-col custom_role_div required-field">
                                            <label class="project-edit-name" for="data-name">Custom Role</label>
                                            <input type="text" class="form-control custom-req-field" id="custom_role" name="custom_role" autocomplete="off" >
                                        </div> 
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="add-data-footer d-flex justify-content-around px-3">
                            <div class="add-data-btn adduserform_btn" >
                                <button type="submit" class="btn btn-primary  btn-inline detail-button mt-2 mb-2 waves-effect waves-light submit-btn">Submit</button>
                                <button type="submit" class="btn btn-primary  btn-inline detail-button mt-2 mb-2 waves-effect waves-light next-btn">Next</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% include "footer.html" %}
</div>
</section>

{% endblock %}
{% block scripts %}
{{block.super}}
<script>
    var csrf = '{{ csrf_token }}';
</script>
 <script src="{% static 'js/menuactive.js' %}"></script>
 <script src="{% static 'js/auth/user.js' %}"></script>  
<script src="{% static 'js/auth/poauserrights.js' %}"></script>  
<script src="{% static 'js/common/regex.js' %}"></script>
<script src="{% static 'js/adduserform.js' %}"></script>  

{%endblock%}
