
{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}

<section>
    <div class="row">
        <div class="col-12">
          {% include "welldetails_menu.html" %} 
        </div>
        
          <div class="col-12">
            <div class="sample-sub-menu">
          <div class="col-md-3">
            <div class="sub-list {% if request.session.submenu == 'muddata' %}active{% endif %}">
                  <a href="{% url 'muddata:list' wellphase_id %}" id="mud"> Mud Data </a>
                </div>
          </div>
          <div class="col-md-3">
                  <div class="sub-list {% if request.session.submenu == 'rheogram' %}active{% endif %}">
                  <a href="{% url 'muddata:rheogramlist' wellphase_id %}" id="Rheogram">Rheogram</a>
                </div>
          </div>
          <div class="col-md-3">
                  <div class="sub-list {% if request.session.submenu == 'drillbit' %}active{% endif %}">
                  <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                </div>
          </div>
          <div class="col-md-3">
                   <div class="sub-list {% if request.session.submenu == 'bhadata' %}active{% endif %}">
                  <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                </div>
          </div>
        
        </div>
        </div>
      </div>
    <div class="row">
        <div class="col-2">
          <h4 class="model-caption">Well Phases</h4>
            {% for wellphase in wellphases %}
            <div class="row">
              <div class="col-12">
            <nav class="navbar bg-white phase-sidemenu">
              <ul class="nav navbar-nav">
                <li class="nav-item {% if request.session.wellphasetab == wellphase.id %}active{% endif %}">
                  <a class="nav-link" href="{% url 'muddata:rheogramlist' wellphase.id %}"> {{wellphase.phase_name}}</a>
                </li>
              </ul>
  
            </nav>
            </div>
            </div>
            {% endfor %}
          </div>
        <!-- <div class="col-2">
            {% for wellphase in wellphases %}
              <div class="row">
                <div class="col-12">
                  <a href="{% url 'muddata:getwellphasemenubyid' wellphase.id %}"> {{wellphase.phase_name}}</a>
                </div>
              </div>
                           
            {% endfor %}
          </div> -->
        <div class="col-10">
            <!-- <div class="sample-sub-menu">
            <div class="row">
                <div class="col-md-3">
                    <div class="sub-list active">
                        <a href="{% url 'muddata:list' wellphase_id %}" id="mud"> Mud Data </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sub-list">
                        <a href="{% url 'muddata:rheogramlist' wellphase_id %}" id="Rheogram">Rheogram</a>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="sub-list ">
                        <a href="{% url 'drillbitdata:drillbitlist' wellphase_id %}" id="drillbit"> Drill Bit Data</a>
                        </div>
                </div>
                <div class="col-md-3">
                    <div class="sub-list">
                        <a href="{% url 'bhadata:bhadatalist' wellphase_id %}" id="bhadata"> BHA Data</a>
                        </div>
                </div>
            </div>
            </div> -->
            <div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Rheogram List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-striped table-hover">
                            <table class="table rheogram-data-list-view table_css dataTable no-footer">
                                <thead>
                                    <tr>
                                        <th>WellPhases Name</th>
                                        {%if welltype == 'ACTUAL'%}
                                        <th>Date</th>
                                        {%endif%}
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for rheogram in rheogram_date %}
                                    <tr>
                                        <td>{{rheogram.well_phase.phase_name}}</td>
                                        {%if welltype == 'ACTUAL'%}
                                        <td class="text-center">{{rheogram.date}}</td>
                                        {%endif%}
                                        <td class="product-action text-center">
                                            <a href="{% url 'muddata:rheogramdetails' rheogram.id %}?wellphase={{wellphase_id}}"><span class="action-list-well"><i class="feather icon-eye"></i></span></a>
                                            <a href="{% url 'muddata:rheogramedit' rheogram.id %}?wellphase={{wellphase_id}}"> <span class="action-edit-well"><i class="feather icon-edit"></i></span></a>
                                            <a onclick="confirmation(event)" href="{% url 'muddata:rheogramdelete' rheogram.id %}?wellphase={{wellphase_id}}"> <span class="action-delete-well"><i class="feather icon-trash"></i></span></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!-- card body end -->
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}

      

