<div class="modal fade mudweight-pressure-modal" id="mudweight-pressure-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="mudweight_pressure_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade tfa-pressure-modal" id="tfa-pressure-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="tfa_pressure_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade yieldpoint-pressure-modal" id="yieldpoint-pressure-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="yieldpoint_pressure_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade flowrate-pressure-modal" id="flowrate-pressure-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="flowrate_pressure_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade plastic_viscocity-pressure-modal" id="plastic_viscocity-pressure-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="plastic_viscocity_pressure_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>  

<div class="modal fade plastic_viscocity-ecd-modal" id="plastic_viscocity-ecd-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="plastic_viscocity_ecd_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade flowrate_ecd_sensitivity" id="flowrate_ecd_sensitivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="flowrate_ecd_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>  

<div class="modal fade mudweight_ecd_sensitivity" id="mudweight_ecd_sensitivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="mudweight_ecd_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div>  

<div class="modal fade rop_ecd_sensitivity" id="rop_ecd_sensitivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="rop_ecdwith_datatable"></div>
                </div>
                <div class="table-responsive">
                    <div id="rop_ecdwithout_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade cd_ecd_sensitivity" id="cd_ecd_sensitivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="cd_ecdwith_datatable"></div>
                </div>
                <div class="table-responsive">
                    <div id="cd_ecdwithout_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade cs_ecd_sensitivity" id="cd_ecd_sensitivity">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        
            <div class="modal-body">
                <div class="table-responsive">
                    <div id="cs_ecdwith_datatable"></div>
                </div>
                <div class="table-responsive">
                    <div id="cs_ecdwithout_datatable"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger detail-button" id="modals-close">Close</button>
            </div>
        </div>
    </div>
</div> 




