<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">Flowrate</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn flowrate_ecd_sensitivity pull-right allchartdatapopup" id="flowrate_ecd_sensitivity" href="#">Flowrate</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="flowrate_ecd_chart"  tabindex="5">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h4 class="sen-tlt">Mud Weight</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn mudweight_ecd_sensitivity pull-right allchartdatapopup" id="mudweight_ecd_sensitivity" href="#">Mud Weight</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="mudweight_ecd_chart"  tabindex="6">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h4 class="sen-tlt">Cuttings Size</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn cutting_size_ecd_sensitivity pull-right allchartdatapopup" id="cutting_size_ecd_sensitivity" href="#">Cuttings Size</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="cuttingssize_ecd_chart"  tabindex="7">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h4 class="sen-tlt">Cuttings Density</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn cutting_density_ecd_sensitivity pull-right allchartdatapopup" id="cutting_density_ecd_sensitivity" href="#">Cuttings Density</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="cuttingsdensity_ecd_chart"  tabindex="7">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h4 class="sen-tlt">ROP</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn rop_ecd_sensitivity pull-right allchartdatapopup" id="rop_ecd_sensitivity" href="#">ROP</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="rop_ecd_chart"  tabindex="7">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header"><h4 class="sen-tlt">Plastic Viscocity</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn plastiv_viscocity_ecd_sensitivity pull-right allchartdatapopup" id="plastiv_viscocity_ecd_sensitivity" href="#">Plastic Viscocity</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="viscocity_ecd_chart"  tabindex="7">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>