<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">Mud Weight</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn mudweight_pressure_sensitivity pull-right allchartdatapopup" id="mudweight_pressure_sensitivity" href="#">Mud Weight</a>
                </div>
                <figure class="highcharts-figure charts sen-pressure-box">
                    <div id="sensitivity_mudweight_chart"  tabindex="2">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">TFA</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn tfa_pressure_sensitivity pull-right allchartdatapopup" id="tfa_pressure_sensitivity" href="#">TFA</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="sensitivity_tfa_chart"  tabindex="2">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">Yield Point</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn yieldpoint_pressure_sensitivity pull-right allchartdatapopup" id="yieldpoint_pressure_sensitivity" href="#">Yield Point</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="sensitivity_yieldpoint_chart"  tabindex="4">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">Flowrate</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn flowrate_pressure_sensitivity pull-right allchartdatapopup" id="flowrate_pressure_sensitivity" href="#">Flowrate</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="sensitivity_flowrate_chart"  tabindex="1">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border-card">
            <div class="card-header"><h4 class="sen-tlt">Plastic Viscocity</h4></div>
            <div class="card-body">
                <div class="row">
                    <a class="btn plastic_viscocity_pressure_sensitivity pull-right allchartdatapopup" id="plastic_viscocity_pressure_sensitivity" href="#">Plastic Viscocity</a>
                </div>
                <figure class="highcharts-figure charts">
                    <div id="sensitivity_viscocity_chart"  tabindex="3">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>