{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}

<section id="data-list-view" class="data-list-view-header">
  
  <!-- <div class="row" id="basic-table"> -->
    <div class="row align-items-start">
      {% getcountries countries as countries %}
      {% include 'projectsidemenu.html' %} 
      <div class="col-md-8 p-0  create-pg main-section col-md-10"> 
        <div class="create_project_sec scroll-line new-cru-well">
          {% comment %} <div class="well-name-list">{{well.name}}</div>
            <button class="hide-show fa fa-long-arrow-right"></button> {% endcomment %}
          {% include "projectheader.html" %}
    <div class="col-12">
      {% include "welldetails_menu.html" %}   
    </div>
    <div class="col-12">
      {% include "welldetailssubmenu.html" %}  
    </div>
    <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Edit Pore Pressure and Frac Pressure Profile </h4>
          </div>
          <div class="card-body">
           <!-- <form class="form form-horizontal" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Submit" />
          </form>-->
          <form class="form form-horizontal" method="POST" id="pressureform">
            {% csrf_token %}
            <input type="hidden" id="well" class="form-control" name="well" value="{{well_id}}">
            <input type="hidden" id="pressure_unit" class="form-control" name="pressure_unit" value="{{pressure.0.pressure_unit}}"}>

          <div class="row">
            <div class="col-12">
                <table class="table" id="pressureaddtable">
                    <tr><th>MD({%display_depthunit request.session.unit%})</th><th>TVD({%display_depthunit request.session.unit%})</th><th>Pore Pressure{%display_pressureunit request.session.unit%}</th><th>Fracture Pressure{%display_pressureunit request.session.unit%}</th><th>Comments</th><th>Action</th></tr>
                   {% for data in pressure %}
                    <tr id="pressurerow">
                      <input type="hidden" name="pressure_id" value="{{data.id}}">
              <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="measured_depth" class="form-control measured_depth" name="measured_depth" placeholder="MD" value="{{data.measured_depth}}"></td>
              <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="true_vertical_depth" class="form-control tvd" name="true_vertical_depth" placeholder="TVD" value="{{data.true_vertical_depth}}"></td>
              <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="pore_pressure" class="form-control pore_pressure" name="pore_pressure" placeholder="Pore Pressure"  value="{{data.pore_pressure|default_if_none:''}}"></td>
              <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="fracture_pressure" class="form-control fracture_pressure" name="fracture_pressure" placeholder="Fracture Pressure" value="{{data.fracture_pressure|default_if_none:''}}"></td>
              <td><input type="text" id="comments" class="form-control" name="comments" placeholder="Comments" value="{{data.comments}}"></td>

              <td>
                <button type="button" name="add"  class="pressureaddrows iconaction"><i class="fa fa-plus"></i></button>
                <button type="button" name="add"  class="pressureremoverows iconaction"><i class="fa fa-trash"></i></button>
              </td>

                    </tr>
                    {% endfor %}
                    <tr id="pressurerow2" class="pressurerow2" style="display:none">
                      <input type="hidden" name="pressure_id" value="{{data.id}}">
                      <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="measured_depth" class="form-control measured_depth" name="measured_depth" placeholder="MD" value="{{data.measured_depth}}"></td>
                      <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="true_vertical_depth" class="form-control tvd" name="true_vertical_depth" placeholder="TVD" value="{{data.true_vertical_depth}}"></td>
                      <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="pore_pressure" class="form-control pore_pressure" name="pore_pressure" placeholder="Pore Pressure" value="{{data.pore_pressure}}"></td>
                      <td><input type="number" step="any" onkeydown="return event.keyCode !== 69" id="fracture_pressure" class="form-control fracture_pressure" name="fracture_pressure" placeholder="Fracture Pressure" value="{{data.fracture_pressure}}"></td>
                      <td><input type="text" id="comments" class="form-control" name="comments" placeholder="Comments" value="{{data.comments}}"></td>
        
                      <td>
                        <button type="button" name="add"  class="pressureaddrows iconaction"><i class="fa fa-plus"></i></button>
                        <button type="button" name="add"  class="pressureremoverows iconaction"><i class="fa fa-trash"></i></button>
                      </td>
        
                            </tr>

                    
                </table>
            </div>

            <!-- <div class="col-12">
                <button type="button" class="btn btn-outline-secondary pull-right addpressurerow">Add Row</button>
              </div>-->
              <div class="col-sm-9 offset-sm-3">
                
              <button type="submit" class="btn btn-primary mr-1 waves-effect waves-float waves-light detail-button">Submit</button>
              <a class="btn btn-primary pull-right detail-button" href="{{request.META.HTTP_REFERER}}">Go Back</a>
              <!-- <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button> -->
            </div>
            
    <!-- <a class="btn btn-primary waves-effect ml-1 waves-float waves-light pull-right" href="{% url 'pressure:create' well_id %}">  <span class="action-create-well"><i class="feather "></i> Add new</span></a> -->

          </div>
        </form>
          </div>
        </div>
    </div>
    </div>
    {% include "footer.html" %}
        </div>
        <div class="col-md-2">
          {% include "userheader.html" %}
          <div class="col-md-12 warning"></div>
      </div>
   </div>
    
    </section>
<style>
.environment-fields,.sub-environment-fields
{
  display: none;
}

.iconaction
{
  border:0;
  background:transparent;
  box-shadow:none;
  font-size:15px;
  color:#7367F0;
}
</style>

<script src="{% static 'vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
<script>
  
  
  $("#pressurerow2").validate({
    rules: {
      measured_depth:"required",
      true_vertical_depth:"required",
      pore_pressure:"required",
      fracture_pressure:"required",
      comments:"required",
      
    },
    messages: {
      measured_depth:"Please enter the Measured Depth",
      true_vertical_depth:"please select the  True Vertical Depth",
      pore_pressure:"Please enter the Pore Pressure",
      fracture_pressure:"Please enter the Fracture pressure",
      comments:"Please enter the Comments",
     
    }
  });
  $(document).on("blur", ".measured_depth" , function() {  
  measured_depth = $(this).val();
  var current_element=$(this);
  var well_id = $('#well').val();
  $.ajax({
      type: "GET",
      url:"/wells/wellphases/getmdtvd",
      data: {
        data : measured_depth,
        well_id : well_id,
        type :"md"
      },
      success: function(data) { 
        current_element.closest('tr').find('.tvd').val(data);
      }
  });
  });

$(document).on("blur", ".tvd" , function() {  
  true_vertical_depth = $(this).val();
  var current_element=$(this);
  var well_id = $('#well').val();
  $.ajax({
      type: "GET",
      url:"/wells/wellphases/getmdtvd",
      data: {
        data : true_vertical_depth,
        well_id : well_id,
        type :"tvd"
      },
      success: function(data) { 
        current_element.closest('tr').find('.measured_depth').val(data);
      }
  });
  
  });
  var storedArray = JSON.parse(sessionStorage.getItem("items"));
    var well_id='{{well_id}}'
    if(well_id == storedArray[1]){
      $('.warning').show();
    }else{
      $('.warning').hide();
    }
</script>
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/navigation.css' %}">
<script src="{% static 'js/menuactive.js' %}"></script>



{% endblock %}
