{% extends "base.html" %}
{% block content %}
{% load static %}
{% load app_filters %}
{% load custom_auth_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/common.css' %}">

<section id="data-list-view" class="data-list-view-header">
    <div class="row align-items-start">
        <div class="col-md-12 p-0 create-pg">
            <div class="create_project_sec scroll-line new-cru-well">
                {% include "header.html" %}
                <div class="overlay-bg">
                    <div class="card card-create-user">
                        <div class="card-header">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                        <form method="post" id="passwordchange_form" name="passwordchange_form">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12 col-form-label required-field">
                                    <div class="col-sm-8 col-form-label required-field input-fld">
                                        <label for="user-password">Old Password</label>
                                        <input type="password" name="old_password" class="form-control old_password" id="old_password" placeholder="Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text pwd-ieyes show-password eye change-eyee" data-type="old_password"><i class="feather icon-eye-off"></i></span>
                                        </div>
                                    </div>

                   
                                    <div class="col-sm-8 col-form-label required-field input-fld">
                                        <label for="user-password">New Password</label>
                                        <input type="password" name="password" class="form-control password" id="password" placeholder="Password" >
                                        <div class="input-group-append">
                                            <span class="input-group-text pwd-ieyes show-password eye change-eyee" data-type="password"><i class="feather icon-eye-off"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-form-label required-field input-fld">
                                        <label for="user-confirm-password">Confirm Password</label>
                                        <input type="password" name="confirm_password" class="form-control confirm_password" id="confirm_password" placeholder="Confirm Password">
                                        <div class="input-group-append">
                                            <span class="input-group-text pwd-ieyes show-password eye change-eyee" data-type="confirm_password"><i class="feather icon-eye-off"></i></span>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="submit_license" class="btn btn-primary waves-effect waves-float waves-light detail-button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% include "footer.html" %}
            </div>
        </div>
        <!-- <div class="col-md-2">
            {% include "userheader.html" %}
        </div> -->
    </div>
</section>
{% endblock %}
{% block scripts %}
{{block.super}}
<script src="{% static 'js/common/regex.js' %}"></script>
<script src="{% static 'js/license/changepassword.js' %}"></script>

{%endblock%}
